<style>
.no-scroll{
  overflow: hidden !important;
}

cart-slide .cart-slide{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.side-cart {
  position: fixed;
  top: 0;
  right: -400px;
  width: 390px;
  height: 100vh;
  background: #fff;
  box-shadow: -2px 0 8px rgba(0,0,0,0.1);
  transition: right 0.3s ease;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  font-family: sans-serif;
  background: #fff;
  max-width: 400px;
  margin: 0 auto;
  overflow: auto;
}
.side-cart.active {
  right: 0;
}

.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 9998;
  display: none;
}

.cart-overlay.active {
  display: block;
}

.side-cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #eee;
}  
/* === Cart Items Section Styles === */
.cart-items-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  margin-bottom: 24px;
  position: relative;
}

.cart-item-image img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
}

.cart-item-info {
  flex: 1;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.cart-item-title {
  font-size: 12px;
  font-weight: 700;
  margin: 0 0 6px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 100%;
  line-height: 120%;
}

.cart-item-variant {
  color: #666;
  font-size: 13px;
  margin: 0 0 6px;
}

.cart-item-qty {
  font-size: 13px;
  margin: 0;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  position: relative;
}

.cart-qty-selector {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  outline: none;
  text-align: center;
}

.cart-item-price {
  text-align: right;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 600;
}

.old-price {
  text-decoration: line-through;
  color: #999;
  display: block;
  font-size: 13px;
}

.new-price {
  display: block;
}


 
.cart-slide__header,
.cart-slide__reserved,
.cart-slide__items,
.cart-slide__gift,
.cart-slide__discount,
.cart-slide__note,
.cart-slide__summary,
.cart-slide__policy,
.cart-slide__payments,
.cart-slide__trust {
  overflow: hidden;
}

.cart-slide__header {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.cart-slide__reserved {
  background: black;
  color: white;
  text-align: center;
  padding: 8px;
  border-radius: 4px;
}

.cart-slide__goal p {
  margin: 0 0 8px;
}

.cart-slide__goal {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 10px;
}


.cart-slide__progress-fill {
  height: 100%;
  transition: width 0.3s ease;
  background: black;
}

.cart-slide__goal.unlocked .cart-slide__progress-fill--shipping {
  background: #23a57f;
}

.cart-slide__goal.unlocked .cart-slide__progress-fill--discount,
.cart-slide__goal.unlocked-ship .cart-slide__progress-fill--discount{
  background: #23a57f;
}

.cart-slide__goal p {
  font-size: 14px;
  margin: 0;
}

.cart-slide__progress-bar {
  height: 8px;
  background: #eee;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  flex: 1;
  margin: 18px 0;
}

.cart-slide__progress-fill {
  height: 100%;
  background: #000;
  width: 0%; /* placeholder progress */
  display: block !important;
}

.cart-slide__goal_wrapp{
  display: flex;
  position: relative;
  
}
.cart-slide__label {
  font-size: 12px;
  display: block;
  margin-top: 4px;
  text-align: right;
  position: relative;
}
.cart-slide__label i{
  width: 35px;
    display: flex;
    height: 35px;
    border: 1px solid #000;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: #fff;
}
.cart-slide__goal[data-unlockship] .cart-slide__label p{
    position: absolute;
    right: -40%;
    text-align: center;
}

  
.cart-slide__item,
.cart-slide__upsell,
.cart-slide__gift-item,
.cart-slide__trust-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-slide__gift-title{
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #00000010;
}
.cart-slide__gift-title *{
  margin: 1em 0 !important;
}
.cart-slide__img-placeholder {
  min-width: 64px;
  height: 64px;
  background: #ccc;
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.cart-slide__trust-item strong{
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.cart-slide__trust-item p{
  margin: 0;
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.cart-slide__img-placeholder--wide {
  width: 100%;
  height: 100px;
}

.cart-slide__img-placeholder.cart-slide__img-placeholder--small {
  width: 50px;
  height: 50px;
  min-width: 50px;
}

.cart-slide__details {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.cart-slide__name {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
}

.cart-slide__info {
  font-size: 14px;
  color: #777;
}

.cart-slide__price {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: right;
}

.cart-slide__price--striked {
  text-decoration: line-through;
  color: #999;
  font-weight: normal;
}

.cart-slide__toggle {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.cart-slide__toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.cart-slide__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 20px;
}

.cart-slide__slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.cart-slide__toggle input:checked + .cart-slide__slider {
  background-color: #23a57f;
}

.cart-slide__toggle input:checked + .cart-slide__slider:before {
  transform: translateX(20px);
}

.cart-slide__discount {
  display: flex;
  gap: 10px;
}

.cart-slide__input {
  flex: 1;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.cart-slide__btn {
  background: black;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
}

.cart-slide__textarea {
  width: 100%;
  min-height: 60px;
  padding: 8px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #ACACAC;
  box-sizing: border-box;
}

.cart-slide__savings {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.cart-slide__savings-amount {
  color: #D23939;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.cart-slide__summary .cart-slide__subtotal{
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.cart-slide__policy label {
  font-size: 12px;
  display: flex;
  gap: 5px;
  align-items: center;
}
.cart-slide__policy input[type=checkbox]{
    border-radius: 8px;
    border: 1px solid #BCBCBC10;
    min-width: 25px;
    height: 25px;
    display: inline-flex;
    outline: none;
}
.cart-slide__policy p{
  color: #000;
  leading-trim: both;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.cart-slide__policy a {
  color: black;
  text-decoration: underline;
}

.cart-slide__checkout-btn {
  width: 100%;
  padding: 20px 15px;
  margin: 0;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.cart-slide__checkout-btn[disabled]{
  opacity: 0.3;
  cursor: not-allowed;
}
.cart-slide__payments {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.cart-slide__payments img {
  height: 24px;
}

.cart-slide__trust-item {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 28px;
  padding: 0 18px;
}

.cart-slide__trust-row {
  display: flex;
  justify-content: space-between;
}

.cart-slide__trust-row .cart-slide__trust-item {
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 30%;
  color: #000;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.cart-slide__video video,
.cart-slide__video iframe{
  width: 100%;
  height: auto;
}
.cart-slide__payments{
  
}
.cart-slide__payments ul{
  list-type: none;
  display: flex;
  gap: 10px;
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.cart-slide__note summary{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.cart-slide__note details[open] summary svg{
  transform: rotate(0);
}
.cart-slide__note details summary svg{
  transform: rotate(180deg);
}

.cart-slide__summary{
  border-top: 1px solid #00000010;
  border-bottom: 1px solid #00000010;
  padding: 25px 0;
}

.cart-slide__summary .cart-slide__savings,
.cart-slide__summary .cart-slide__subtotal{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-slide__summary .cart-slide__subtotal{
  margin-top: 20px;
}

.cart-slide__product-addons .product-addons__info{
  font-size: 12px;
}
.cart-slide__product-addons .product-addons__price{
  font-size: 14px;
}
.cart-slide__product-addons .product-addons__price-toggle{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 25px;
} 
.cart-slide__product-addons .product-addons__image img{
  width: 50px;
  height: 50px;
}

  
</style>
<cart-slide id="side-cart" class="side-cart">
  
  <div class="cart-slide">
    <div class="cart-slide__header">
      <span>Cart - <strong><span data-count="{{ cart.item_count }}">{{ cart.item_count }}</span> items</strong></span>
      <span class="cart-slide__close">×</span>
    </div>

    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'reserved' %}
          <div class="cart-slide__reserved">
            Cart reserved for <strong>04:56</strong>
          </div>
    
        {% when 'ship_goal' %}
        <div class="cart-slide__goal" data-unlockship="{{ block.settings.ship_goal }}">
            <p class="cart-slide__text-shipping">
              You’re <strong>{{ block.settings.ship_goal | times: 100 | money }}</strong> away from <strong>FREE Shipping!</strong>
            </p>
            <div class="cart-slide__goal_wrapp">
              <div class="cart-slide__progress-bar">
                <div class="cart-slide__progress-fill cart-slide__progress-fill--shipping"></div>
              </div>
              <span class="cart-slide__label cart-slide__label-shipping">
                <i class="cart-slide__label-circl">
                  {% render 'icon-delivery-truck' %}
                </i>
                <p>Free Shipping</p>
              </span>
            </div>
          </div>
          
          <div class="cart-slide__goal" data-unlockdiscount="{{ block.settings.discount_goal }}" data-unlockship="{{ block.settings.ship_goal }}" data-code="{{ block.settings.discount_code }}" data-discountpercent="{{ block.settings.discountpercent }}">
            <p class="cart-slide__text-discount">
              You’re <strong>{{ block.settings.discount_goal | times: 100 | money }}</strong> away from <strong>Unlocking 20% OFF!</strong>
            </p>
            <div class="cart-slide__goal_wrapp cart-slide__goal_wrapp--double">
              <div class="cart-slide__progress-bar cart-slide__progress-bar--discount">
                <div class="cart-slide__progress-fill cart-slide__progress-fill--discount"></div>
              </div>
              <span class="cart-slide__label cart-slide__label-freeshiping">
                <i class="cart-slide__label-circl">{% render 'icon-delivery-truck' %}</i>
                <p>Free Shipping</p>
              </span>
              <span class="cart-slide__label cart-slide__label-discount">
                <i class="cart-slide__label-circl">{% render 'icon-discount' %}</i>
                <p>{{ block.settings.discountpercent }}% OFF</p>
              </span>
            </div>
          </div>


          

        {% when 'cart_item' %}
          <div class="cart-slide__items">
            <ul class="cart-items-list">
              {% for item in cart.items %}
                <li class="cart-item">
                  <div class="cart-item-image">
                    <img src="{{ item.image | img_url: '100x100' }}" alt="{{ item.product.title }}">
                  </div>
                  <div class="cart-item-info">
                    <p class="cart-item-title">{{ item.product.title }}</p>
                    {% if item.variant.title != 'Default Title' %}
                      <p class="cart-item-variant">{{ item.variant.title }}</p>
                    {% endif %}
                    <div>
                    <p class="cart-item-qty">Qty: 
                      <select class="cart-qty-selector" data-line="{{ forloop.index }}">
                        <option value="0">Delete</option>
                        {% for i in (1..10) %}
                          <option value="{{ i }}" {% if item.quantity == i %}selected{% endif %}>{{ i }}</option>
                        {% endfor %}
                      </select>
                      </p>
                    </div>
                  </div>
                <div class="cart-item-price">
                  {% if item.variant.compare_at_price > item.variant.price %}
                    <span class="old-price">{{ item.variant.compare_at_price | money }}</span>
                    <span class="new-price">{{ item.line_price | money }}</span>
                  {% else %}
                    <span class="new-price">{{ item.line_price | money }}</span>
                  {% endif %}
                </div>
               </li>
              {% endfor %}
            </ul>
          </div>
        {% when 'gift' %}
          <div class="cart-slide__gift">
            <style>
              .cart-slide__gift{
                  overflow: hidden;
                  padding: 0 10px 15px;
                  background: #D9D9D930;
                  border-radius: {{ block.settings.container_radius }}px;
                  box-shadow: {% if block.settings.container_styling == "shadow" %}{{ block.settings.box_shadow_offset }}px {{ block.settings.box_shadow_offset }}px {{ block.settings.box_shadow_blur }}px {{ block.settings.box_shadow_spread }}px {{ section.settings.box_shadow_color }}{% else %}none{% endif %};
                  border: {% if block.settings.container_styling == "card" %} {{ block.settings.card_border }}px solid {{ block.settings.card_border_color }}{% else %}none{% endif %};
              }
            </style>
            {% if block.settings.gift_title != blank %}
            <div class="cart-slide__gift-title">
              {{ block.settings.gift_title }}
            </div>
            {% endif %}
            <div class="cart-slide__gift-item cart-slide__gift-item--locked">
              <div class="cart-slide__img-placeholder cart-slide__img-placeholder--small" data-image="<img src='{{ block.settings.gift_image | img_url: '400x400' }}' alt='{{ block.settings.gift_product.title }}'>">
                <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g opacity="0.21">
                <path d="M8.00065 29.3979C7.26732 29.3979 6.63976 29.1371 6.11798 28.6153C5.59621 28.0935 5.33487 27.4655 5.33398 26.7313V13.398C5.33398 12.6646 5.59532 12.0371 6.11798 11.5153C6.64065 10.9935 7.26821 10.7322 8.00065 10.7313H9.33398V8.06462C9.33398 6.22017 9.98421 4.64817 11.2847 3.34862C12.5851 2.04906 14.1571 1.39884 16.0007 1.39795C17.8442 1.39706 19.4167 2.04728 20.718 3.34862C22.0193 4.64995 22.6691 6.22195 22.6673 8.06462V10.7313H24.0007C24.734 10.7313 25.362 10.9926 25.8847 11.5153C26.4073 12.038 26.6682 12.6655 26.6673 13.398V26.7313C26.6673 27.4646 26.4064 28.0926 25.8847 28.6153C25.3629 29.138 24.7349 29.3988 24.0007 29.3979H8.00065ZM16.0007 22.7313C16.734 22.7313 17.362 22.4704 17.8847 21.9486C18.4073 21.4268 18.6682 20.7988 18.6673 20.0646C18.6664 19.3304 18.4055 18.7028 17.8847 18.182C17.3638 17.6611 16.7358 17.3997 16.0007 17.398C15.2655 17.3962 14.638 17.6575 14.118 18.182C13.598 18.7064 13.3367 19.334 13.334 20.0646C13.3313 20.7953 13.5927 21.4233 14.118 21.9486C14.6433 22.474 15.2709 22.7348 16.0007 22.7313ZM12.0007 10.7313H20.0007V8.06462C20.0007 6.95351 19.6118 6.00906 18.834 5.23128C18.0562 4.45351 17.1118 4.06462 16.0007 4.06462C14.8895 4.06462 13.9451 4.45351 13.1673 5.23128C12.3895 6.00906 12.0007 6.95351 12.0007 8.06462V10.7313Z" fill="black"/>
                </g>
                </svg>
              </div>
              <div class="cart-slide__details">
                <div class="cart-slide__name">{{ block.settings.gift_product.title }}</div>
                <div class="cart-slide__price">{{ block.settings.gift_text_price }}</div>
              </div>
            </div>
          </div>

        {% when 'discount' %}
          <div class="cart-slide__discount">
            <input type="text" placeholder="Enter discount code" class="cart-slide__input">
            <button class="cart-slide__btn">APPLY</button>
          </div>
                  
        {% when 'note' %}    
          <div class="cart-slide__note">
            <details>
              <summary>
                {{ block.settings.title_note }} 
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
                  <path d="M4.5 11.3145L9 6.81445L13.5 11.3145" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </summary>
              <textarea placeholder="Enter instructions here" class="cart-slide__textarea"></textarea>
            </details>
          </div>
                  
        {% when 'summary' %}
          <div class="cart-slide__summary">
            <div class="cart-slide__savings">Savings: <span class="cart-slide__savings-amount" data-savings>{{ cart.total_discount | money }}</span></div>
            <div class="cart-slide__subtotal">Subtotal: <strong data-subtotal>{{ cart.total_price | money }}</strong></div>
          </div>
        {% when 'policy' %}  
          <div class="cart-slide__policy">
            <label>
              <input type="checkbox">
              {{ block.settings.text_policy }}
            </label>
          </div>

        {% when 'checkout_btn' %}
          <style>
            cart-slide .cart-slide__checkout-btn{
              border-radius: {{ block.settings.button_radius }}px;
              background: {{ block.settings.button_color }};
              color: {{ block.settings.button_text_color }};
              border: none;
            }
            cart-slide .cart-slide__checkout-btn svg path{
              stroke: {{ block.settings.button_text_color }};
            }
          </style>
          <button class="cart-slide__checkout-btn">{{ block.settings.text_btn }}
          {% if section.settings.icon != blank  %}
            <i class="icon_cart-btns"><img src="{{ section.settings.icon | img_url: '150x' }}" alt="Icon add cart button"></i>
          {% elsif section.settings.icon_alt != blank %}
            <i class="icon_cart-btns material-symbols-outlined">{{ section.settings.icon_alt }}</i>
          {% else %}
            <i class="icon_cart-btns">{% render 'icon-cart-svg' %}</i> 
          {% endif %}
          </button>

        {% when 'payments' %}
          <div class="cart-slide__payments">
            {% if block.settings.show_payment_icons %}
              <ul class="payment-icons-list">
                {% if block.settings.show_shopify_pay %}<li>{% render 'icon-shopify-pay' %}</li>{% endif %}
                {% if block.settings.discover %}<li>{% render 'icon-discover' %}</li>{% endif %}
                {% if block.settings.show_visa %}<li>{% render 'icon-visa' %}</li>{% endif %}
                {% if block.settings.show_mastercard %}<li>{% render 'icon-mastercard' %}</li>{% endif %}
                {% if block.settings.show_apple_pay %}<li>{% render 'icon-apple-pay' %}</li>{% endif %}
                {% if block.settings.show_google_pay %}<li>{% render 'icon-google-pay' %}</li>{% endif %}
                {% if block.settings.show_paypal %}<li>{% render 'icon-amazon' %}</li>{% endif %}
                {% if block.settings.show_amex %}<li>{% render 'icon-amex' %}</li>{% endif %}      
              </ul>
            {% endif %}
          </div>

        {% when 'trust' %}
          <div class="cart-slide__trust">
            {% for i in (1..1) %}
              {% assign icon_key = "icon_" | append: i %}
              {% assign icon_alt_key = "icon_" | append: i | append: "_alt" %}
              {% assign text_key = "text_" | append: i %}
              {% assign image = block.settings[icon_key] %}
              {% assign alt_icon = block.settings[icon_alt_key] %}
            <div class="cart-slide__trust-item">
              <div class="cart-slide__img-placeholder">
                {% if image != blank %}
                  <img src="{{ image | img_url: '150x' }}" alt="Icon {{ i }}">
                {% elsif alt_icon contains 'material-icons' %}
                  <span class="material-icons" style="color: {{ block.settings.icon_item }}">{{ alt_icon | remove: 'material-icons ' }}</span>
                {% elsif alt_icon != blank %}
                  <i class="material-symbols-outlined" style="color: {{ block.settings.icon_item }}">{{ alt_icon }}</i>
                {% else %}
                  <div class="placeholder-icon" style="color: {{ block.settings.icon_item }}"></div>
                {% endif %}
              </div>
              <div>
                <strong>{{ block.settings.text_title_mob }}</strong>
                <p>{{ block.settings.text_mob }}</p>
              </div>
            </div>
            {% endfor %}
            <div class="cart-slide__trust-row">
              {% for i in (2..4) %}
              {% assign icon_key = "icon_" | append: i %}
              {% assign icon_alt_key = "icon_" | append: i | append: "_alt" %}
              {% assign text_key = "text_" | append: i %}
              {% assign image = block.settings[icon_key] %}
              {% assign alt_icon = block.settings[icon_alt_key] %}  
              <div class="cart-slide__trust-item">
                <div class="cart-slide__img-placeholder">
                  {% if image != blank %}
                    <img src="{{ image | img_url: '150x' }}" alt="Icon {{ i }}">
                  {% elsif alt_icon contains 'material-icons' %}
                    <span class="material-icons" style="color: {{ block.settings.icon_item }}">{{ alt_icon | remove: 'material-icons ' }}</span>
                  {% elsif alt_icon != blank %}
                    <i class="material-symbols-outlined" style="color: {{ block.settings.icon_item }}">{{ alt_icon }}</i>
                  {% else %}
                    <div class="placeholder-icon" style="color: {{ block.settings.icon_item }}"></div>
                  {% endif %}
                </div>
                <div>{{ block.settings[text_key] | newline_to_br }}</div>
              </div>
              {% endfor %}
            </div>
            
          </div>

        {% when 'video' %}
        
        <div class="cart-slide__video">
            {% if block.settings.video_type == 'file' and block.settings.video_file %}
              <div class="video-wrapper">
                <video controls preload="metadata" playsinline>
                  <source src="{{ block.settings.video_file.sources[1].url }}" type="video/mp4">
                  </video>
              </div>
            {% elsif block.settings.video_type == 'youtube' and block.settings.youtube_url != blank %}
              <div class="video-wrapper">
                <iframe
                  src="{{ block.settings.youtube_url | replace: 'watch?v=', 'embed/' }}"
                  frameborder="0"
                  allowfullscreen
                ></iframe>
              </div>
            {% else %}
              <div class="video-placeholder">
                <p>Video Here</p>
              </div>
            {% endif %}
        </div>
       {% when 'addon' %}
         
        <div class="cart-slide__product-addons product-addons">
 
          {% assign addon_product = block.settings.product1 %}
          {% if addon_product != blank %}
          <div class="product-addons__item" data-variant-id="{{ addon_product.variants.first.id }}">
              <div class="product-addons__image">
                <img src="{{ addon_product.featured_image | image_url: width: 100 }}" alt="{{ addon_product.title }}" loading="lazy">
              </div>
              <div class="product-addons__info">
                <strong>{{ block.settings.custom_title | default: addon_product.title }}</strong>
              </div>
              <div class="product-addons__price-toggle">
                <div class="product-addons__price">
                  <span class="product-addons__current">{{ addon_product.price | money }}</span>
                </div>
                <label class="product-addons__switch">
                  <input type="checkbox" class="product-addons__toggle">
                  <span class="product-addons__slider"></span>
                </label>
              </div>
            </div>
          {% endif %}
          {% assign addon_product = block.settings.product2 %}
          {% if addon_product != blank %}
            <div class="product-addons__item" data-variant-id="{{ addon_product.variants.first.id }}">
              <div class="product-addons__image">
                <img src="{{ addon_product.featured_image | image_url: width: 100 }}" alt="{{ addon_product.title }}" loading="lazy">
              </div>
              <div class="product-addons__info">
                <strong>{{ block.settings.custom_title2 | default: addon_product.title }}</strong>
              </div>
              <div class="product-addons__price-toggle">
                <div class="product-addons__price">
                  <span class="product-addons__current">{{ addon_product.price | money }}</span>
                  {% if addon_product.compare_at_price > addon_product.price %}
                    <span class="product-addons__compare">{{ addon_product.compare_at_price | money }}</span>
                  {% endif %}
                </div>
                <label class="product-addons__switch">
                  <input type="checkbox" class="product-addons__toggle">
                  <span class="product-addons__slider"></span>
                </label>
              </div>
            </div>
          {% endif %}
          {% assign addon_product = block.settings.product3 %}
          {% if addon_product != blank %}
              <div class="product-addons__item" data-variant-id="{{ addon_product.variants.first.id }}">
                <div class="product-addons__image">
                  <img src="{{ addon_product.featured_image | image_url: width: 100 }}" alt="{{ addon_product.title }}" loading="lazy">
                </div>
                <div class="product-addons__info">
                  <strong>{{ block.settings.custom_title3 | default: addon_product.title }}</strong>
                </div>
                <div class="product-addons__price-toggle">
                  <div class="product-addons__price">
                    <span class="product-addons__current">{{ addon_product.price | money }}</span>
                    {% if addon_product.compare_at_price > addon_product.price %}
                      <span class="product-addons__compare">{{ addon_product.compare_at_price | money }}</span>
                    {% endif %}
                  </div>
                  <label class="product-addons__switch">
                    <input type="checkbox" class="product-addons__toggle">
                    <span class="product-addons__slider"></span>
                  </label>
                </div>
              </div>
          {% endif %}         
      </div>
           
    {% endcase %}
 
    {% endfor %}
    
  </div>

</cart-slide>
                    

<!-- Overlay -->
<div id="cart-overlay" class="cart-overlay" ></div>
<script src="{{ 'cart-slide.js' | asset_url }}" defer="defer"></script>

{% schema %}
  {
    "name": "cart slide",
    "settings": [
      
    ],
    "blocks": [
      {
        "type": "reserved",
        "name": "Reserved",
        "settings": [
  
        ]
      },
      {
        "type": "ship_goal",
        "name": "Shipping Goal",
        "settings": [
          {
            "type": "number",
            "id": "ship_goal",
            "label": "Shipping goal",
            "default": 20
          },
          {
            "type": "number",
            "id": "discount_goal",
            "label": "Discount goal",
            "default": 20
          },
          {
            "type": "text",
            "id": "discount_code",
            "label": "Discount code"
          },
          {
            "type": "text",
            "id": "discountpercent",
            "label": "Discount Percent text"
          },
          
        ]
      },
      {
        "type": "cart_item",
        "name": "Cart items",
        "settings": [
  
        ]
      },
      {
        "type": "gift",
        "name": "Gift",
        "settings": [
          {
            "type": "image_picker",
            "id": "gift_image",
            "label": "Gift Image",
            "info": "Used when gift is unlocked. Recommended size: 100x100px."
          },
          {
            "type": "richtext",
            "id": "gift_title",
            "label": "Gift Title",
          },
          {
            "type": "product",
            "id": "gift_product",
            "label": "Gift Product",
          },
          {
            "type": "text",
            "id": "gift_text_price",
            "label": "Gift Text Price",
            "default": "Free"
          },
          {
          "type": "header",
            "content": "Cards Settings"
          },
          { "type": "select", "id": "container_styling", "label": "Container Styling", "options": [{ "value": "no_card", "label": "No Card" }, { "value": "card", "label": "Card" }, { "value": "shadow", "label": "Shadow" }], "default": "card" },
          {
            "type": "range",
            "id": "box_shadow_offset",
            "label": "Box shadow offset",  
            "min": -10,
            "max": 10,
            "default": 1
          },
          {
            "type": "range",
            "id": "box_shadow_blur",
            "label": "Box shadow blur",  
            "min": 0,
            "max": 15,
            "default": 1
          },
          {
            "type": "range",
            "id": "box_shadow_spread",
            "label": "Box shadow spread",  
            "min": 0,
            "max": 15,
            "default": 1
          },
          { "type": "color", "id": "box_shadow_color", "label": "Box shadow color", "default": "#000000" },   
          {
            "type": "range",
            "id": "card_border",
            "label": "Card border",
            "info": "Container Styling Card",
            "min": 0,
            "max": 5,
            "step": 1,
            "default": 1
          },
          { "type": "color", "id": "card_border_color", "label": "Card border color", "default": "#000" },
          { "type": "range", "id": "container_radius", "label": "Container Corner Radius", "min": 0, "max": 50, "step": 5, "default": 10 }
          ]
      },
      {
        "type": "discount",
        "name": "Discount",
        "settings": [
  
        ]
      },
      {
        "type": "note",
        "name": "Note",
        "settings": [
          {
            "type": "text",
            "id": "title_note",
            "label": "Title note",
            "default": "Order special instructions"
          }
        ]
      },
      {
        "type": "summary",
        "name": "Summary",
        "settings": [
  
        ]
      },
      {
        "type": "policy",
        "name": "Policy",
        "settings": [
          {
            "type": "richtext",
            "id": "text_policy",
            "label": "Text Policy"
          }
        ]
      },
      {
        "type": "checkout_btn",
        "name": "Checkout button",
        "settings": [
          {
            "type": "header",
            "content": "Button Settings"
          },
          {
            "type": "text",
            "id": "text_btn",
            "label": "Text Button",
            "default": "CHECKOUT SECURELY"
          },
          { "type": "range", "id": "button_radius", "label": "Button Corner Radius", "min": 0, "max": 50, "step": 5, "default": 10 },
          { "type": "color", "id": "button_color", "label": "Button background", "default": "#000000" },
          { "type": "color", "id": "button_text_color", "label": "Button Text Color", "default": "#ffffff" },
          {
            "type": "header",
            "content": "Icons Add Button"
          },
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon"
          },
          {
            "type": "text",
            "id": "icon_alt",
            "label": "Google Icon or Class (Icon)",
            "default": "shopping_bag"
          },
        ]
      },
      {
        "type": "payments",
        "name": "Payments icon",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_payment_icons",
            "label": "Show payment icons",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_visa",
            "label": "Show Visa",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_mastercard",
            "label": "Show Mastercard",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_amex",
            "label": "Show Amex",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_paypal",
            "label": "Show PayPal",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_shopify_pay",
            "label": "Show Shopify Pay",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_google_pay",
            "label": "Show Google Pay",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_apple_pay",
            "label": "Show Apple Pay",
            "default": true
          },
        ]
      },
      {
        "type": "trust",
        "name": "Trust",
        "settings": [
            {
              "type": "header",
              "content": "Icons"
            },
            {
              "type": "image_picker",
              "id": "icon_1",
              "label": "Icon 1"
            },
            {
              "type": "text",
              "id": "icon_1_alt",
              "label": "Google Icon or Class (Icon 1)",
              "default": "science"
            },
            {
              "type": "image_picker",
              "id": "icon_2",
              "label": "Icon 2"
            },
            {
              "type": "text",
              "id": "icon_2_alt",
              "label": "Google Icon or Class (Icon 2)",
              "default": "science"
            },
            {
              "type": "image_picker",
              "id": "icon_3",
              "label": "Icon 3"
            },
            {
              "type": "text",
              "id": "icon_3_alt",
              "label": "Google Icon or Class (Icon 3)",
              "default": "science"
            },
            {
              "type": "image_picker",
              "id": "icon_4",
              "label": "Icon 4"
            },
            {
              "type": "text",
              "id": "icon_4_alt",
              "label": "Google Icon or Class (Icon 4)",
              "default": "science"
            },
            {
              "type": "text",
              "id": "text_1",
              "label": "Text Under Icon 1",
              "default": "Lab Tested\nFor Safety"
            },
            {
              "type": "text",
              "id": "text_2",
              "label": "Text Under Icon 2",
              "default": "Lab Tested\nFor Safety"
            },
            {
              "type": "text",
              "id": "text_3",
              "label": "Text Under Icon 3",
              "default": "Lab Tested\nFor Safety"
            },
            {
              "type": "text",
              "id": "text_4",
              "label": "Text Under Icon 4",
              "default": "Lab Tested\nFor Safety"
            },
            {
              "type": "header",
              "content": "mobile settings"
            },
            {
              "type": "text",
              "id": "text_title_mob",
              "label": "Text title first block",
              "default": "Lab Tested For Safety"
            },
            {
              "type": "text",
              "id": "text_mob",
              "label": "Text first block",
              "default": "Some kind of description text could go here over two lines"
            },
            {
              "type": "color",
              "id": "stroke_item",
              "label": "Stroke Item Color",
               "default": "#c4c4c4"
            },
             {
              "type": "color",
              "id": "background_item",
              "label": "Background Item Color",
               "default": "#d9d9d9"
            },
             {
              "type": "color",
              "id": "icon_item",
              "label": "Icon Item Color",
               "default": "#fff"
            },
        ]
      },
      {
        "type": "video",
        "name": "Video",
        "settings": [
          {
            "type": "select",
            "id": "video_type",
            "label": "Video Type",
            "options": [
              {
                "value": "file",
                "label": "Upload Video File"
              },
              {
                "value": "youtube",
                "label": "YouTube Link"
              }
            ],
            "default": "file"
          },
          {
            "type": "video",
            "id": "video_file",
            "label": "Video File",
            "info": "Upload a video file (MP4 recommended). Used when Video Type is 'Upload Video File'."
          },
          {
            "type": "url",
            "id": "youtube_url",
            "label": "YouTube URL",
            "info": "Enter a YouTube video URL (e.g., https://www.youtube.com/watch?v=VIDEO_ID). Used when Video Type is 'YouTube Link'."
          }
        ]
      },
      {
        "type": "addon",
        "name": "Addons",
        "settings": [
          	{
              "type": "header",
              "content": "Product 1"
            },
            {
                  "type": "product",
                  "id": "product1",
                  "label": "Select addon product 1"
                },
                {
                  "type": "text",
                  "id": "custom_title1",
                  "label": "Custom title 1 (optional)"
                },
                    {
              "type": "header",
              "content": "Product 2"
            },
              {
                  "type": "product",
                  "id": "product2",
                  "label": "Select addon product 2"
                },
                {
                  "type": "text",
                  "id": "custom_title2",
                  "label": "Custom title 2 (optional)"
                },
                    {
              "type": "header",
              "content": "Product 3"
            },
            {
              "type": "product",
              "id": "product3",
              "label": "Select addon product 3"
            },
            {
              "type": "text",
              "id": "custom_title3",
              "label": "Custom title 3 (optional)"
            }

        ]
      },
      
    ]
    
  }
{% endschema %}