<section class="bg-info vendor mb-0 pt-25 pb-35 pt-md-50 pb-md-60">
    <div class="container">
        <div class="pure-g justify-content-center">
            <div class="pure-u-1 pure-u-lg-5-6">
                <div class="vendor__list clearfix">
                    {% if section.settings.title != blank %}
                        <h5 class="text-2 mb-20 mb-md-0 text-grey">{{section.settings.title}}</h5>
                    {% endif %}
                    <div class="vendor__logos-slider" data-flickity='{ "cellAlign": "left", "contain": true, "pageDots": false , "lazyLoad": 2, "prevNextButtons": false,"autoPlay": true }'>
                        {% if section.blocks.size > 0 %}
                            {% for block in section.blocks %}
                                {% if block.settings.logo != blank %}
                                    <div class="vendor__logo-img">
                                        <img data-flickity-lazyload="{{ block.settings.logo | img_url: 'master' }}" class="pure-img" width="230" height="52" alt="" />
                                    </div>            
                                {% endif %}
                            {% endfor %}
                        {% else %}
                        <div class="vendor__logo-img">
                            <img data-flickity-lazyload="{{ 'logo.png' | asset_url }}" class="pure-img" alt="" />
                        </div>
                        <div class="vendor__logo-img">
                            <img data-flickity-lazyload="{{ 'logo.png' | asset_url }}" class="pure-img" alt="" />
                        </div>
                        <div class="vendor__logo-img">
                            <img data-flickity-lazyload="{{ 'logo.png' | asset_url }}" class="pure-img" alt="" />
                        </div>
                        <div class="vendor__logo-img">
                            <img data-flickity-lazyload="{{ 'logo.png' | asset_url }}" class="pure-img" alt="" />
                        </div>
                        <div class="vendor__logo-img">
                            <img data-flickity-lazyload="{{ 'logo.png' | asset_url }}" class="pure-img" alt="" />
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% schema %}
{
  "name": "Gift card featured in",
  "max_blocks": 5,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "As recommended by:"
    }
  ],
  "blocks": [
    {
      "type": "feature-in",
      "name": "Featured in",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        }
      ]
    }
  ]
}
{% endschema %}
