<section class="account-page">
    <div class="container">
        <div class="pure-g justify-content-center">
            <div class="pure-u-1 pure-u-md-17-24 pure-u-xl-10-24 pure-u-lg-1-2">
                <div class="account-page__form-wrapper pt-25 pb-40 py-md-55">
                    <div class="text-center mb-20 mb-md-50">
                        <h1 class="title">{{ 'customer.reset_password.title' | t }}</h1>
                        <h4 class="subtitle">{{ 'customer.reset_password.subtext' | t: email: email }}</h4>
                    </div>
                    {%- form 'reset_customer_password' -%}
                        {%- if form.errors -%}
                          <div class="form__messages" tabindex="-1" autofocus>
                            <h3>{{ 'templates.contact.form.error_heading' | t }}</h3>
                              <ul>
                                {%- for field in form.errors -%}
                                  <li>
                                    {%- if field == 'form' -%}
                                      {{ form.errors.messages[field] }}
                                    {%- else -%}
                                      <a href="#{{ field }}">
                                        {{ form.errors.translated_fields[field] | capitalize }}
                                        {{ form.errors.messages[field] }}
                                      </a>
                                    {%- endif -%}
                                  </li>
                                {%- endfor -%}
                              </ul>
                            </div>
                        {%- endif -%}
                        <div class="form-row form-group">
                            <label class="form-label fw-700" for="password">{{ 'customer.reset_password.password' | t }}</label>
                            <input type="password" name="customer[password]" id="password" autocomplete="new-password"{% if form.errors contains 'password' %} aria-invalid="true" aria-describedby="password-error"{% endif %} placeholder="{{ 'customer.reset_password.password' | t }}" class="form-input form-control" required data-pristine-required-message="Please enter Password">
                        </div>
                        <div class="form-row form-group">
                            <label class="form-label fw-700" for="password_confirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
                            <input type="password" name="customer[password_confirmation]" id="password_confirmation" autocomplete="new-password"{% if form.errors contains 'password_confirmation' %} aria-invalid="true" aria-describedby="password_confirmation-error"{% endif %} placeholder="{{ 'customer.reset_password.password_confirm' | t }}" class="form-input form-control" required data-pristine-required-message="Please enter Password">
                        </div>
                        <div class="form-button text-center mt-30 mt-md-50">
                            <button type="submit" class="btn btn--icon-hand mb-0 btn--fixed-width">{{ 'customer.reset_password.submit' | t }}</button>
                        </div>
                    {%- endform -%}
                </div>
            </div>
        </div>
    </div>
</section>
{% schema %}
{
  "name": "Reset Password",
  "settings": [
  ]
}
{% endschema %}
