<div class="content-section safety-icons-section" data-section-type="content">
<div class="square-icon-grid">
  {% for i in (1..4) %}
    {% assign icon_key = "icon_" | append: i %}
    {% assign icon_alt_key = "icon_" | append: i | append: "_alt" %}
    {% assign text_key = "text_" | append: i %}
    {% assign image = section.settings[icon_key] %}
    {% assign alt_icon = section.settings[icon_alt_key] %}

    <div class="square-icon-item" >
      <div class="square-icon-box" style="background: {{ section.settings.stroke_item }}">
        <div class="square-icon-inner" style="background: {{ section.settings.background_item }}">
          {% if image != blank %}
            <img src="{{ image | img_url: '150x' }}" alt="Icon {{ i }}">
          {% elsif alt_icon contains 'material-icons' %}
            <span class="material-icons" style="color: {{ section.settings.icon_item }}">{{ alt_icon | remove: 'material-icons ' }}</span>
          {% elsif alt_icon != blank %}
            <i class="material-symbols-outlined" style="color: {{ section.settings.icon_item }}">{{ alt_icon }}</i>
          {% else %}
            <div class="placeholder-icon" style="color: {{ section.settings.icon_item }}"></div>
          {% endif %}
        </div>
      </div>
      {% if forloop.first %}
        <div class="square-icon-text square-icon-text-mob">
        <h4>{{ section.settings.text_title_mob }}</h4>
        <p>{{ section.settings.text_mob }}</p>
      </div>
      {% endif %}
      <div class="square-icon-text">
        {{ section.settings[text_key] | newline_to_br }}
      </div>
    </div>
  {% endfor %}
</div>
</div>
{% schema %}
{
  "name": "Square Icon Grid",
  "settings": [
    {
      "type": "header",
      "content": "Icons"
    },
    {
      "type": "image_picker",
      "id": "icon_1",
      "label": "Icon 1"
    },
    {
      "type": "text",
      "id": "icon_1_alt",
      "label": "Google Icon or Class (Icon 1)",
      "default": "icon 1"
    },
    {
      "type": "image_picker",
      "id": "icon_2",
      "label": "Icon 2"
    },
    {
      "type": "text",
      "id": "icon_2_alt",
      "label": "Google Icon or Class (Icon 2)",
      "default": "icon 2"
    },
    {
      "type": "image_picker",
      "id": "icon_3",
      "label": "Icon 3"
    },
    {
      "type": "text",
      "id": "icon_3_alt",
      "label": "Google Icon or Class (Icon 3)",
      "default": "icon 3"
    },
    {
      "type": "image_picker",
      "id": "icon_4",
      "label": "Icon 4"
    },
    {
      "type": "text",
      "id": "icon_4_alt",
      "label": "Google Icon or Class (Icon 4)",
      "default": "icon 4"
    },
    {
      "type": "text",
      "id": "text_1",
      "label": "Text Under Icon 1",
      "default": "Lab Tested\nFor Safety"
    },
    {
      "type": "text",
      "id": "text_2",
      "label": "Text Under Icon 2",
      "default": "Lab Tested\nFor Safety"
    },
    {
      "type": "text",
      "id": "text_3",
      "label": "Text Under Icon 3",
      "default": "Lab Tested\nFor Safety"
    },
    {
      "type": "text",
      "id": "text_4",
      "label": "Text Under Icon 4",
      "default": "Lab Tested\nFor Safety"
    },
    {
      "type": "header",
      "content": "mobile settings"
    },
    {
      "type": "text",
      "id": "text_title_mob",
      "label": "Text title first block",
      "default": "Lab Tested For Safety"
    },
    {
      "type": "text",
      "id": "text_mob",
      "label": "Text first block",
      "default": "Some kind of description text could go here over two lines"
    },
 {
      "type": "color",
      "id": "stroke_item",
      "label": "Stroke Item Color",
       "default": "#c4c4c4"
    },
     {
      "type": "color",
      "id": "background_item",
      "label": "Background Item Color",
       "default": "#d9d9d9"
    },
     {
      "type": "color",
      "id": "icon_item",
      "label": "Icon Item Color",
       "default": "#fff"
    },
    
  ],
  "presets": [
    {
      "name": "Square Icon Grid",
      "category": "Custom"
    }
  ]
}
{% endschema %}
