
<style>
{% if section.settings.font_variant == 'custom' %}
  {%- liquid
      assign body_font_bold = section.settings.title_font | font_modify: 'weight', 'bold'
      assign body_font_italic = section.settings.title_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}
  {{ section.settings.title_font | font_face: font_display: 'swap' }}
  {{ body_font_bold | font_face: font_display: 'swap' }}
  {{ body_font_italic | font_face: font_display: 'swap' }}
  {{ body_font_bold_italic | font_face: font_display: 'swap' }}
  {{ settings.type_header_font | font_face: font_display: 'swap' }}
  #shopify-section-{{section.id}} * {
    font-family: {{ section.settings.title_font.family }};
  }
{% endif %}  
    /* Inner wrapper max-width */
  #shopify-section-{{ section.id }} .content-wrapper{
    max-width:
      {% if section.settings.section_width == 'full' %}
        100%;
      {% else %}
        {{ settings.page_width }}px;
          margin: 0 auto;
      {% endif %};
  }
</style>


<div class="before-after-v2-section" data-section-id="{{ section.id }}"
     style="
       --text-color: {{ section.settings.text_color }};
       --background-color: {{ section.settings.background_color }};
       --heading-align: {{ section.settings.heading_align }};
       --headline-transform: {{ section.settings.headline_typography }};
       --font-size-heading: {% case section.settings.heading_size %}{% when 'small' %}36px{% when 'medium' %}45px{% when 'large' %}60px{% endcase %};
       --font-size-heading-mob: {% case section.settings.heading_size %}{% when 'small' %}20px{% when 'medium' %}28px{% when 'large' %}36px{% endcase %};
       --padding-desk: {{ section.settings.padding_y_desk }}px {{ section.settings.padding_x_desk }}px;
       --padding-mob: {{ section.settings.padding_y_mob }}px {{ section.settings.padding_x_mob }}px;
       --image-radius: {{ section.settings.image_round }}px;
       --marker-color: {{ section.settings.marker_color }};
       --marker-symbol: {{ section.settings.marker_symbol }};
       --tooltip-color: {{ section.settings.tooltip_color }};
       --tooltip-text: {{ section.settings.tooltip_text }};
     ">

  <div class="content-wrapper">
    <div class="v2-before-after-wrapper">
      <div class="before-after-text">
        {% if section.settings.uppertitle != blank or section.settings.title != blank or section.settings.subtitle != blank %}
          <div class="heading">
            {% if section.settings.uppertitle != blank %}
              <div class="uppertitle">
                {{ section.settings.uppertitle }}
                {% for i in (1..5) %}{% render 'star_comparison' %}{% endfor %}
              </div>
            {% endif %}
            <div class="title">
              {% if section.settings.title != blank %}{{ section.settings.title }}{% endif %}
            </div>
            <div class="subtitle">
              {% if section.settings.subtitle != blank %}{{ section.settings.subtitle }}{% endif %}
            </div>
          </div>
        {% endif %}
      </div>

      <div class="swiper v2-before-after-slider">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            {% if block.settings.before_image and block.settings.after_image %}
              <div class="swiper-slide">
                <div class="v2-before-after-item">
                  <div class="v2-before-after-container">
                    <div class="v2-before-image">
                      <img src="{{ block.settings.before_image | img_url: 'master' }}" alt="Before">
                    </div>
                    <div class="v2-after-image">
                      <img src="{{ block.settings.after_image | img_url: 'master' }}" alt="After">
                    </div>
                    <div class="v2-divider">
                      <div class="v2-handle">
                        {% render 'handle-icon' %}
                      </div>
                    </div>
                  </div>
                  <div class="v2-labels">
                    <span class="v2-before-label">{{ block.settings.before_label }}</span>
                    <span class="v2-after-label">{{ block.settings.after_label }}</span>
                  </div>
                </div>
              </div>
          {% else %}
             <div class="swiper-slide">
                <div class="v2-before-after-item">
                  <div class="v2-before-after-container">
                    <div class="v2-before-image">
                                         <img src="/cdn/shopifycloud/shopify/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_x600.gif" alt="After">
                    </div>
                    <div class="v2-after-image">
                                        <img src="/cdn/shopifycloud/shopify/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_x600.gif" alt="After">
            
                    </div>
                    <div class="v2-divider">
                      <div class="v2-handle">
                        {% render 'handle-icon' %}
                      </div>
                    </div>
                  </div>
                  <div class="v2-labels">
                    <span class="v2-before-label">Before</span>
                    <span class="v2-after-label">After</span>
                  </div>
                </div>
              </div>
            
            {% endif %}
            
          {% endfor %}
        </div>

        <div class="swiper-button-prev">{% render 'swiper-arrow-left-n' %}</div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next">{% render 'swiper-arrow-right-n' %}</div>
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Before After Slider v2",
  "settings": [
    {
      "type": "header",
      "content": "General Settings"
    },
    { 
      "type": "select", 
      "id": "heading_size", 
      "label": "Heading Size", 
      "options": [{ "value": "small", "label": "Small" }, { "value": "medium", "label": "Medium" }, { "value": "large", "label": "Large" }], 
      "default": "medium" 
    },
    {
      "type": "select", 
      "id": "headline_typography", 
      "label": "Headline Typography", 
      "options": [
        { "value": "uppercase", "label": "AA" }, 
        { "value": "capitalize", "label": "Aa" }, 
        { "value": "lowercase", "label": "aa" }
      ], 
      "default": "capitalize" 
    },
    {
      "type": "color", 
      "id": "text_color", 
      "label": "Title Color", 
      "default": "#000000" 
    },    
    { 
      "type": "select", 
      "id": "heading_align", 
      "label": "Heading Alignment", 
      "options": [
        { "value": "left", "label": "Left" }, 
        { "value": "center", "label": "Center" }, 
        { "value": "right", "label": "Right" }
      ], 
      "default": "center" 
    }, 
    { 
      "type": "color", 
      "id": "background_color", 
      "label": "Background color", 
      "default": "transparent" 
    },
    { 
      "type": "select", 
      "id": "font_variant", 
      "label": "Font Family", 
      "options": [
        { "value": "default", "label": "Default by theme" }, 
        { "value": "custom", "label": "Own choice" }
      ], 
      "default": "default" 
    },
    { 
      "type": "font_picker", 
      "label": "Regular Font", 
      "id": "title_font", 
      "default": "montserrat_n4" 
    },
    { 
      "type": "select", 
      "id": "section_width", 
      "label": "Section Width", 
      "options": [
        { "value": "full", "label": "Full Width" }, 
        { "value": "contained", "label": "Contained" }
      ], 
      "default": "contained" 
    },
    { 
      "type": "range", 
      "id": "padding_x_desk", 
      "label": "Horizontal Padding", 
      "info": "for desktop", 
      "min": 0, 
      "max": 100, 
      "step": 5, 
      "default": 70 
    },
    { 
      "type": "range", 
      "id": "padding_y_desk", 
      "label": "Vertical Padding", 
      "info": "for desktop", 
      "min": 0, 
      "max": 100, 
      "default": 10 
    },
    { 
      "type": "range", 
      "id": "padding_x_mob", 
      "label": "Horizontal Padding", 
      "info": "for mobile", 
      "min": 0, 
      "max": 100, 
      "step": 5, 
      "default": 15 
    },
    { 
      "type": "range", 
      "id": "padding_y_mob", 
      "label": "Vertical Padding", 
      "info": "for mobile", 
      "min": 0, 
      "max": 50, 
      "default": 7 
    },
    { 
      "type": "select", 
      "id": "display_on", 
      "label": "Display On", 
      "options": [
        { "value": "all", "label": "All Devices" }, 
        { "value": "mobile_only", "label": "Mobile Only" }, 
        { "value": "desktop_only", "label": "Desktop Only" }
      ], 
      "default": "all" 
    },
    { 
      "type": "range",
      "id": "image_round",
      "label": "Image Round Corner",
      "min": 0, 
      "max": 50, 
      "step": 1, 
      "default": 16 
    },
    { 
      "type": "color", 
      "id": "marker_color", 
      "label": "Marker Color", 
      "default": "#000" 
    },
    { 
      "type": "color", 
      "id": "marker_symbol", 
      "label": "Marker Plus Color", 
      "default": "#fff" 
    },
    { 
      "type": "color", 
      "id": "tooltip_color", 
      "label": "Tooltip Background", 
      "default": "#E5E5E5" 
    },
    { 
      "type": "color", 
      "id": "tooltip_text", 
      "label": "Tooltip Font Color", 
      "default": "#000" 
    },
    {
      "type": "header",
      "content": "Content Settings"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title",
      "default": "<h2>Value Proposition featuring benifit</h2>"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "<h3>Ut enim ad minima veniam, quis nostrum exercitati onem ullam corporis suscipit laboriosam, commodi </h3>"
    },
    {
      "type": "richtext",
      "id": "uppertitle",
      "label": "Uppertitle",
      "default": "<h3>Reviewed by +100 Happy Customers </h3>"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "before_image",
          "label": "Before Image"
        },
        {
          "type": "image_picker",
          "id": "after_image",
          "label": "After Image"
        },
        {
          "type": "text",
          "id": "before_label",
          "label": "Before Label",
          "default": "Before"
        },
        {
          "type": "text",
          "id": "after_label",
          "label": "After Label",
          "default": "After 2 Weeks"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Before After Slider v2",
      "category": "Image",
      "blocks": [
        { "type": "slide" },
      
      ]
    }
  ]
}
{% endschema %}