

{% for block in section.blocks %}
     <div class="swiper-slide">
<style>
 
   #shopify-section-{{section.id}} .desk
  {
    display: block;
  }
   #shopify-section-{{section.id}} .mob
  {
    display: none;
  }
{% comment %}
  Custom fonts connection
{% endcomment %}
  {% if section.settings.font_variant == 'custom' %}
    {%- liquid
      assign body_font_bold = section.settings.title_font | font_modify: 'weight', 'bold'
      assign body_font_italic = section.settings.title_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}
    {{ section.settings.title_font | font_face: font_display: 'swap' }}
    {{ body_font_bold | font_face: font_display: 'swap' }}
    {{ body_font_italic | font_face: font_display: 'swap' }}
    {{ body_font_bold_italic | font_face: font_display: 'swap' }}
    {{ settings.type_header_font | font_face: font_display: 'swap' }}
    #shopify-section-{{section.id}} * {
      font-family: {{ section.settings.title_font.family }};
    }
  {% endif %}

   #shopify-section-{{section.id}} .content-wrapper-{{ forloop.index }} {
    max-width: {% if section.settings.section_width == 'full' %}
      100%;
      {% else %}
      {{ settings.page_width }}px;{% endif %};
    margin: auto;
    display: flex;
    flex-direction: {% if block.settings.image_position == 'left' %}row{% else %}row-reverse{% endif %};
    align-items: left;
    gap: 88px;
     {% if block.settings.container_bg %}
       background: url({{block.settings.container_bg | img_url: 'x3000'}});
       background-size: cover;
     {% else %}
     background: {{block.settings.cbackground_color}};
     {% endif %}
     padding: {{ block.settings.cpadding_y_desk }}px {{ block.settings.cpadding_x_desk }}px;
     border-radius: {{block.settings.container_radius}}px;
       }

{% comment %}
  What device display section
{% endcomment %}  
  #shopify-section-{{section.id}}{
    display: {% case section.settings.display_on %}
                 {% when 'all' %}block;
                 {% when 'mobile_only' %}none;
                 {% when 'desktop_only' %}block;
               {% endcase %};
  }
  @media (max-width: 768px) {
    #shopify-section-{{section.id}}{
    display: {% case section.settings.display_on %}
                 {% when 'all' %}block;
                 {% when 'mobile_only' %}block;
                 {% when 'desktop_only' %}none;
               {% endcase %};
    }
  }


{% comment %}
  BG color and padding
{% endcomment %}    
  #shopify-section-{{section.id}}{
    background-color: {{ section.settings.background_color }};
    padding: {{ section.settings.padding_y_desk }}px {{ section.settings.padding_x_desk }}px;
    margin: 0 auto;
    color: {{ section.settings.text_color }};
    position: relative;
    overflow: hidden;
  }


  
  {% comment %}
    Title font size, Typography and color
  {% endcomment %}  
   #shopify-section-{{section.id}}  .title-{{ forloop.index }} *
  {
    margin: 0;
  }
  #shopify-section-{{section.id}} .title-{{ forloop.index }} h2,  #shopify-section-{{section.id}} .title-{{ forloop.index }} h1,  #shopify-section-{{section.id}} .title-{{ forloop.index }} h3,  #shopify-section-{{section.id}} .title-{{ forloop.index }} p {
  
      font-size: {% case block.settings.heading_size %}
                   {% when 'small' %}36px
                   {% when 'medium' %}45px
                   {% when 'large' %}60px
                 {% endcase %};
      text-transform: {{ block.settings.headline_typography }};
      color: {{ block.settings.text_color }};
      margin: 0; 
 text-align: 
    {% case block.settings.heading_align %}
                   {% when 'left' %}left;
                   {% when 'center' %}center;
                   {% when 'right' %}right;
                 {% endcase %};
      line-height: 110%;
      font-weight: 700;
    margin: 0;
    margin-bottom: 16px;
     
  }
   #shopify-section-{{section.id}}  .subtitle-{{ forloop.index }} *
  {
    margin: 0;
  }
  
  #shopify-section-{{section.id}} .subtitle-{{ forloop.index }} h2,  #shopify-section-{{section.id}} .subtitle-{{ forloop.index }} h3,  #shopify-section-{{section.id}}  .subtitle-{{ forloop.index }} p{
    color: {{ block.settings.subtitle_color }};
     font-size: 20px;
     font-weight: 400;
     text-align: 
    {% case block.settings.heading_align %}
                   {% when 'left' %} left;
                   {% when 'center' %} center;
                   {% when 'right' %} right;
                 {% endcase %};
    line-height: 150%;
    margin:0;
    margin-bottom: 20px;
   
  }
     #shopify-section-{{section.id}}  .uppertitle-{{ forloop.index }} *
  {
    margin: 0;
  }
   #shopify-section-{{section.id}}  .uppertitle-{{ forloop.index }}
  {
    display: flex;
     justify-content:      {% case block.settings.heading_align %}
                   {% when 'left' %} left;
                   {% when 'center' %} center;
                   {% when 'right' %} right;
                 {% endcase %};
    line-height: 150%;
    margin:0;
    margin-bottom: 14.5px;
  }

    #shopify-section-{{section.id}}  .uppertitle-{{ forloop.index }} svg
  {
  
    margin-left: 5px;
  }
  #shopify-section-{{section.id}} .uppertitle-{{ forloop.index }} h2,  #shopify-section-{{section.id}} .uppertitle-{{ forloop.index }} h3,  #shopify-section-{{section.id}}  .uppertitle-{{ forloop.index }} p{
    color: {{ block.settings.uppertitle_color }};
     font-size: 15px;
     font-weight: 400;
   

   
  }
   
   #shopify-section-{{section.id}} .wrap_image {
    width: 50%;
    
  }
  #shopify-section-{{section.id}} .wrap_image div{
    width: 100%; 
    padding-top: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
  }
  #shopify-section-{{section.id}} .wrap_image img {
  
   
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: {{block.settings.image_round}}px;
    
  }
    #shopify-section-{{section.id}} .image-with-text-content
  {
  
    width: 50%;
  }
  
 
  
  #shopify-section-{{section.id}} ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
margin-bottom: 32px;
    
  }
  #shopify-section-{{section.id}} .image-with-text-list-{{ forloop.index }} li {
    font-size: 16px;
    color: {{ block.settings.text_color_list }};
    margin: 0px;
    display: flex;
    align-items: center;

    width: 100%;
    line-height: 150%;
  }
  #shopify-section-{{section.id}} .image-with-text-list-{{ forloop.index }} li img,  #shopify-section-{{section.id}} .image-with-text-list-{{ forloop.index }} li svg {
    width: 23.33px;
    height: 23.33px;
    margin-right: 12px;
  }
   #shopify-section-{{section.id}} .button-{{ forloop.index }}{
     
    border-radius: {{ block.settings.button_radius }}px;
      line-height: 100%;
  
    outline: none;
    background: {{ block.settings.button_color }};
    text-decoration: none;
    cursor: pointer;
    padding: 15px 141px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    color: {{ block.settings.button_text_color }};
     margin-top:32px;
  }

   
 #shopify-section-{{section.id}} .button-{{ forloop.index }}
  {
    width: 100%;
   
     max-width: 426px;
    padding: 22px 20px;
    margin-top: 5px;
    order: 2;
  }
   .tabs-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
  }

  .tab-button {
    background: #fff;
    border: none;
    padding: 0 20px;
    margin: 0;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    color: #000;
    height: 91px;
    line-height: 91px; /* Adjusted to center vertically */
    position: relative;
    flex: 1;
    text-align: center;
    border-bottom: 2px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tab-button.active {
    background: #000;
    color: #fff;
  }

  .tab-button.active::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #000;
  }

  .tab-content {
    display: flex;
    justify-content: center;
    gap: 80px;
  }
   .tab-pane {
    display: none;
    flex: 1;
    justify-content: space-between;
  }

  .tab-pane.active {
    display: flex;
  }

@media (max-width: 768px) {
  
   #shopify-section-{{section.id}} .desk
  {
    display: none;
  }
   #shopify-section-{{section.id}} .mob
  {
    display: block;
  }
   #shopify-section-{{section.id}} .content-wrapper-{{ forloop.index }} {
    max-width: {% if section.settings.section_width == 'full' %}100%{% else %}320px;{% endif %};
    flex-wrap: wrap;
 padding: {{ block.settings.cpadding_y_mob }}px {{ block.settings.cpadding_x_mob }}px;
     gap: 20px;

       {% if block.settings.container_bgm %}
       background: url({{block.settings.container_bgm | img_url: 'x1000'}});
       background-size: cover;
     {% endif %}
   }
    #shopify-section-{{section.id}} {
      padding: {{ section.settings.padding_y_mob }}px {{ section.settings.padding_x_mob }}px;
    }
   
    #shopify-section-{{section.id}} .title-{{ forloop.index }} h2, .title-{{ forloop.index }} h1, .title-{{ forloop.index }} h3, .title-{{ forloop.index }} p{
      font-size: {% case block.settings.heading_size %}
                 {% when 'small' %}20px
                 {% when 'medium' %}28px
                 {% when 'large' %}36px
               {% endcase %};
       line-height: 100%;
      margin: 0;
      margin-bottom: 16px;
    }
         
    #shopify-section-{{section.id}} .subtitle h2,  #shopify-section-{{section.id}} .subtitle h3,  #shopify-section-{{section.id}}  .subtitle p{
   
     font-size: 16px;
      line-height: 24px;
    }
   #shopify-section-{{section.id}} .content-wrapper-{{ forloop.index }}{
      flex-direction: {% if block.settings.image_positionm == 'top' %}column{% else %}column-reverse{% endif %};
    }
   
 
    #shopify-section-{{section.id}} .image-with-text-content p{
      margin: 0 0 0px;
      font-weight: 500;
      font-size: 16px;
    }
    
  #shopify-section-{{section.id}} .image-with-text-list-{{ forloop.index }} li {
    font-size: 12px;
    
  
    align-items: center;

    width: 100%;
    line-height: 16px;
  }
    #shopify-section-{{section.id}} .image-with-text-container{
      gap: 32px;
    }
   #shopify-section-{{section.id}} .uppertitle-{{ forloop.index }} h2,  #shopify-section-{{section.id}} .uppertitle-{{ forloop.index }} h3,  #shopify-section-{{section.id}}  .uppertitle-{{ forloop.index }} p
  {
    color: {{ block.settings.uppertitle_color }};
     font-size: 12px;
     line-height: 16px;
     font-weight: 400;
   ordeR: 5;
     margin-left: 3px;


     
  }

   #shopify-section-{{section.id}} ul
  {
    gap: 10px;
    order: 4;
  }
  
 #shopify-section-{{section.id}} .button-{{ forloop.index }}
  {
    width: 100%;
   
    
    padding: 22px 0px;
    margin-top: 5px;
    order: 2;
  }
   #shopify-section-{{section.id}} .button-{{ forloop.index }} a
  {
    width: 100%;
   
  }

  #shopify-section-{{section.id}} .wrap_image
{
    width: 100%;
   
}
    #shopify-section-{{section.id}} .image-with-text-content
  {
    width: 100%;
    display: block;
    
   
  }
           .tab-content {
      gap: 20px;
    }

    .tab-pane {
      flex-direction: column;
    }

    .tab-image,
    .tab-text {
      width: 100%;
    }

    .tab-image img,
    .tab-image .placeholder-image {
      width: 350px; /* Set to 350px on mobile */
      height: auto; /* Adjust height proportionally */
      max-height: 200px; /* Limit max height on mobile */
    }

    .tab-button {
      font-size: 14px;
      padding: 10px;
      height: 60px;
      line-height: 60px;
    }

    .tab-button.active::after {
      bottom: -8px;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid #000;
    }


}


</style>


<div class="content-wrapper-{{ forloop.index }}">
   <div class="tabs-container">
    {% for block in section.blocks %}
      <button class="tab-button {% if forloop.first %}active{% endif %}" data-tab="{{ block.id }}">{{ block.settings.tab_title }}</button>
    {% endfor %}
  </div>
  
    <div class="image-with-text-content">
      {%- if block.settings.title != blank or block.settings.under_title_text != blank -%}
      <div class="heading-{{ forloop.index }}">
         <div class="title-{{ forloop.index }}">
          {%- if block.settings.title != blank -%}
            {{ block.settings.title }}
          {%- endif -%}
        </div>
        <div class="subtitle-{{ forloop.index }}">
          {%- if block.settings.subtitle != blank -%}
            {{ block.settings.subtitle }}
          {%- endif -%}
        </div>
        
      </div>
    {%- endif -%}
      <ul class="image-with-text-list-{{ forloop.index }}">
        <li>
          {% if block.settings.icon_1 != blank %}
            <img src="{{ block.settings.icon_1 | img_url: '24x24' }}" alt="Icon 1">
          {% else %}
            {% if block.settings.icon_1_text != blank %}
          <span class="material-symbols-outlined">     {{ block.settings.icon_1_text }}</span>
            {% else %}
              {% render 'icon_number_1' %}
            {% endif %}
          {% endif %}
          {{ block.settings.point_1_text }}
        </li>
        <li>
          {% if block.settings.icon_2 != blank %}
            <img src="{{ block.settings.icon_2 | img_url: '24x24' }}" alt="Icon 2">
          {% else %}
            {% if block.settings.icon_2_text != blank %}
              <span class="material-symbols-outlined"> {{ block.settings.icon_2_text }}</span>
            {% else %}
              {% render 'icon_number_2' %}
            {% endif %}
          {% endif %}
          {{ block.settings.point_2_text }}
        </li>
        <li>
          {% if block.settings.icon_3 != blank %}
            <img src="{{ block.settings.icon_3 | img_url: '24x24' }}" alt="Icon 3">
          {% else %}
            {% if block.settings.icon_3_text != blank %}
              <span class="material-symbols-outlined">{{ block.settings.icon_3_text }}</span>
            {% else %}
              {% render 'icon_number_3' %}
            {% endif %}
          {% endif %}
          {{ block.settings.point_3_text }}
        </li>
      </ul>
  
       <a href="{{ block.settings.button_link }}" class="button-{{ forloop.index }}">{{ block.settings.button_text }}</a>
    
    
    
    </div>
    
</div>
        
     </div>
{% endfor %}
     


{% schema %}
{
  "name": "Tabs 2",
  "tag": "section",
  "class": "section tabs2",
  "settings": [
    
      {
      "type": "header",
      "content": "General Settings"
    },
     { "type": "color", 
       "id": "background_color", 
       "label": "Background color", 
       "default": "transparent" 
     },
        {
      "type": "select",
      "id": "font_variant",
      "label": "Font Family",
      "options": [
        { "value": "default", "label": "Default by theme" },
        { "value": "custom", "label": "Own choice" }
      ],
      "default": "default"
    },
    {
      "type": "font_picker",
      "label": "Regular Font",
      "id": "title_font",
      "default": "montserrat_n4"
    },
   
    
    {
      "type": "select",
      "id": "section_width",
      "label": "Section Width",
      "options": [
        { "value": "full", "label": "Full Width" },
        { "value": "contained", "label": "Contained" }
      ],
      "default": "contained"
    },
    {
      "type": "range",
      "id": "padding_x_desk",
      "label": "Horizontal Padding",
      "info": "for desktop",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 120
    },
       {
      "type": "range",
      "id": "padding_y_desk",
      "label": "Vertical Padding",
      "info": "for desktop",   
      "min": 0,
      "max": 100,
            "step": 5,
      "default": 75
    },
    {
      "type": "range",
      "id": "padding_x_mob",
      "label": "Horizontal Padding",
      "info": "for mobile",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_y_mob",
      "label": "Vertical Padding",
      "info": "for mobile",   
      "min": 0,
      "max": 100,
      "default": 20
    },
    { "type": "select", "id": "display_on", "label": "Display On", "options": [{ "value": "all", "label": "All Devices" }, { "value": "mobile_only", "label": "Mobile Only" }, { "value": "desktop_only", "label": "Desktop Only" }], "default": "all" },
   
      
    
  
   

  ],
    "blocks": [
    {
      "type": "Tab",
      "name": "Tab",
      "settings": [
      {
      "type": "header",
      "content": "Header Content"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title",
      "default": "<h2>Value Proposition featuring benifit</h2>"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "<h3>Ut enim ad minima veniam, quis nostrum exercitati onem ullam corporis suscipit laboriosam, commodi </h3>"
    },
  
        
      {
      "type": "header",
      "content": "Image"
    },
     {
      "type": "image_picker",
        "id": "image",
      "label": "Image for desktop"
    },
         {
      "type": "image_picker",
        "id": "imagem",
      "label": "Image for mobile"
    },
         {
      "type": "range",
      "id": "image_round",
      "label": "Image Round Corner",
      "min": 0, "max": 50, "step": 5, "default": 10 
    },
     {
      "type": "select",
      "id": "image_position",
      "label": "Image Position Desktop",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "right", "label": "Right" }
      ],
      "default": "left"
    },
         {
      "type": "select",
      "id": "image_positionm",
      "label": "Image Position Mobile",
      "options": [
        { "value": "top", "label": "Top" },
        { "value": "bottom", "label": "Bottom" }
      ],
      "default": "top"
    },
      {
      "type": "header",
      "content": "Container Settings"
    },
   { "type": "color", 
       "id": "cbackground_color", 
       "label": "Container Background color", 
       "default": "#ffffff" 
     },
        {
      "type": "image_picker",
        "id": "container_bg",
      "label": "Container Background Image Desktop"
    },
        {
      "type": "image_picker",
        "id": "container_bgm",
      "label": "Container Background Image Mobile"
    },
{
      "type": "range",
      "id": "cpadding_x_desk",
      "label": "Horizontal Container Padding",
      "info": "for desktop",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 0
    },
       {
      "type": "range",
      "id": "cpadding_y_desk",
      "label": "Vertical Container Padding",
      "info": "for desktop",   
      "min": 0,
      "max": 200,
       "step": 5,
      "default": 0
    },
    {
      "type": "range",
      "id": "cpadding_x_mob",
      "label": "Horizontal Container Padding",
      "info": "for mobile",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 20
    },
    {
      "type": "range",
      "id": "cpadding_y_mob",
      "label": "Vertical Containrt Padding",
      "info": "for mobile",   
      "min": 0,
      "max": 100,
      "default": 20
    },
     {"type": "range", "id": "container_radius", "label": "Container Corner Radius", "min": 0, "max": 50, "step": 5, "default": 10 },
    
     { "type": "select", 
       "id": "heading_size", 
       "label": "Heading Size", 
       "options": [{ "value": "small", "label": "Small" }, { "value": "medium", "label": "Medium" }, { "value": "large", "label": "Large" }], "default": "medium" 
     },
   { "type": "select", "id": "headline_typography", "label": "Headline Typography", "options": [{ "value": "uppercase", "label": "AA" }, { "value": "capitalize", "label": "Aa" }, { "value": "lowercase", "label": "aa" }], "default": "capitalize" },


        { "type": "color", "id": "text_color", "label": "Title Color", "default": "#000000" },
    
     { "type": "select", 
       "id": "heading_align", 
       "label": "Heading Alignment", 
       "options": [{ "value": "left", "label": "Left" }, { "value": "center", "label": "Center" }, { "value": "right", "label": "Right" }], "default": "center" 
     }, {
      "type": "header",
      "content": "Numbers Icons Settings"
    },
    {
      "type": "image_picker",
      "id": "icon_1",
      "label": "Icon Image For Point 1"
    },
    {
      "type": "text",
      "id": "icon_1_text",
      "label": "Icon Symbol For Point 1"
    },
    {
      "type": "text",
      "id": "point_1_text",
      "label": "Text For Point 1",
      "default": "Perfect for gym, yoga & sunday strolls"
    },
    {
      "type": "image_picker",
      "id": "icon_2",
      "label": "Icon Image For Point 2"
    },
    {
      "type": "text",
      "id": "icon_2_text",
      "label": "Icon Symbol For Point 2"
    },
    {
      "type": "text",
      "id": "point_2_text",
      "label": "Text for Point 2",
      "default": "Perfect for gym, yoga & sunday strolls"
    },
    {
      "type": "image_picker",
      "id": "icon_3",
      "label": "Icon Image For Point 3"
    },
    {
      "type": "text",
      "id": "icon_3_text",
      "label": "Icon Symbol For Point 3"
    },
    {
      "type": "text",
      "id": "point_3_text",
      "label": "Text For Point 3",
      "default": "Perfect for gym, yoga & sunday strolls"
    },
     
    
    
    {
      "type": "header",
      "content": "Button Settings"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "SHOP NOW"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    { "type": "range", "id": "button_radius", "label": "Button Corner Radius", "min": 0, "max": 50, "step": 5, "default": 10 },
    { "type": "color", "id": "button_color", "label": "Button background", "default": "#000000" },
    { "type": "color", "id": "button_text_color", "label": "Button Text Color", "default": "#ffffff" }
      ]
    }
  ],
  "enabled_on": {
    "templates": ["product"]
  },
  "presets": [
    {
      "name": "Tab",
      "category": "Info"
    }
  ]
}
{% endschema %}
