<style>
  {% if section.settings.font_variant == 'custom' %}
    {%- liquid
      assign body_font_bold = section.settings.title_font | font_modify: 'weight', 'bold'
      assign body_font_italic = section.settings.title_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}
    {{ section.settings.title_font | font_face: font_display: 'swap' }}
    {{ body_font_bold | font_face: font_display: 'swap' }}
    {{ body_font_italic | font_face: font_display: 'swap' }}
    {{ body_font_bold_italic | font_face: font_display: 'swap' }}
    {{ settings.type_header_font | font_face: font_display: 'swap' }}
    #shopify-section-{{section.id}} * {
      font-family: {{ section.settings.title_font.family }};
    }
  {% endif %}

  #shopify-section-{{section.id}} {
    display: {% case section.settings.display_on %}
               {% when 'all' %} block;
               {% when 'mobile_only' %} none;
               {% when 'desktop_only' %} block;
             {% endcase %};
    background-color: {{ section.settings.background_color }};
    text-align: {{ section.settings.heading_align }};
  }

  #shopify-section-{{section.id}} .content-wrapper {
    max-width: {% if section.settings.section_width == 'full' %}100%;{% else %}{{ settings.page_width }}px;{% endif %}
    padding: {{ section.settings.padding_y_desk }}px {{ section.settings.padding_x_desk }}px;
    text-align: {{ section.settings.heading_align }};
  }

  #shopify-section-{{section.id}} .heading {
    {% if section.settings.section_width == 'full' %}
      margin: 0 0;
    {% endif %}
  }

  #shopify-section-{{section.id}} .content-wrapper {
    max-width: {% if section.settings.section_width == 'full' %}100%;{% else %}{{ settings.page_width }}px;{% endif %}
    text-align: {{ section.settings.heading_align }};
    padding: 20px 0;
  }

  #shopify-section-{{section.id}} .title h2,
  #shopify-section-{{section.id}} .title h1,
  #shopify-section-{{section.id}} .title h3,
  #shopify-section-{{section.id}} .title p {
    font-size: {% case section.settings.heading_size %}
                 {% when 'small' %}36px
                 {% when 'medium' %}45px
                 {% when 'large' %}60px
               {% endcase %};
    text-transform: {{ section.settings.headline_typography }};
    color: {{ section.settings.text_color }};
    text-align: {% case section.settings.heading_align %}
                  {% when 'left' %}left;
                  {% when 'center' %}center;
                  {% when 'right' %}right;
                {% endcase %};
  }

  #shopify-section-{{section.id}} .subtitle h2,
  #shopify-section-{{section.id}} .subtitle h3,
  #shopify-section-{{section.id}} .subtitle p {
    color: {{ section.settings.subtitle_color }};
    text-align: {% case section.settings.heading_align %}
                  {% when 'left' %}left;
                  {% when 'center' %}center;
                  {% when 'right' %}right;
                {% endcase %};
  }

  #shopify-section-{{section.id}} .uppertitle {
    justify-content: {% case section.settings.heading_align %}
                      {% when 'left' %}left;
                      {% when 'center' %}center;
                      {% when 'right' %}right;
                    {% endcase %};
  }
  #shopify-section-{{section.id}} .uppertitle h2,
  #shopify-section-{{section.id}} .uppertitle h3,
  #shopify-section-{{section.id}} .uppertitle p {
    color: {{ section.settings.uppertitle_color }};
  }

  #shopify-section-{{section.id}} .story {
    border-radius: {{ section.settings.container_radius }}px;
    box-shadow: {% if section.settings.container_styling == "shadow" %}
                  {{ section.settings.box_shadow_offset }}px {{ section.settings.box_shadow_offset }}px {{ section.settings.box_shadow_blur }}px {{ section.settings.box_shadow_spread }}px {{ section.settings.box_shadow_color }}
                {% else %}none{% endif %};
    border: {% if section.settings.container_styling == "card" %}
               {{ section.settings.card_border }}px solid {{ section.settings.card_border_color }}
             {% else %}none{% endif %};
  }

  #shopify-section-{{section.id}} .number {
    background: {{ section.settings.num_bg }};
  }

  @media (max-width: 768px) {
    #shopify-section-{{section.id}} {
      display: {% case section.settings.display_on %}
                 {% when 'all' %}block;
                 {% when 'mobile_only' %}block;
                 {% when 'desktop_only' %}none;
               {% endcase %};
      padding: {{ section.settings.padding_y_mob }}px {{ section.settings.padding_x_mob }}px;
    }
    #shopify-section-{{section.id}} .heading {
      margin: 0;
      padding: 0;
    }
    #shopify-section-{{section.id}} .title h2,
    #shopify-section-{{section.id}} .title h1,
    #shopify-section-{{section.id}} .title h3,
    #shopify-section-{{section.id}} .title p {
      font-size: {% case section.settings.heading_size %}
                   {% when 'small' %}20px
                   {% when 'medium' %}28px
                   {% when 'large' %}36px
                 {% endcase %};
    }
    #shopify-section-{{section.id}} .subtitle h2,
    #shopify-section-{{section.id}} .subtitle h3,
    #shopify-section-{{section.id}} .subtitle p {
      font-size: 16px;
    }
    #shopify-section-{{section.id}} .uppertitle h2,
    #shopify-section-{{section.id}} .uppertitle h3,
    #shopify-section-{{section.id}} .uppertitle p {
      font-size: 12px;
    }
    #shopify-section-{{section.id}} .heading {
      width: 100%;
      margin-bottom: 40px;
    }
    #shopify-section-{{section.id}} .stories {
      gap: 24px;
    }
    #shopify-section-{{section.id}} .story {
      padding-bottom: 48px;
    }
    #shopify-section-{{section.id}} .story img {
      height: 250px;
    }
    #shopify-section-{{section.id}} .story p {
      margin: 0 21px;
    }
    #shopify-section-{{section.id}} .number {
      width: 42px;
      height: 42px;
      top: 229px;
      left: calc(50% - 21px);
    }
    #shopify-section-{{section.id}} .story h1,
    #shopify-section-{{section.id}} .story h2,
    #shopify-section-{{section.id}} .story h3 {
      margin-top: 48px;
    }
  }
</style>

<div class="content-wrapper">
  
     <div class="stories">
        {%- if section.settings.title != blank or section.settings.subtitle != blank -%}
      <div class="heading">
        {% if section.settings.uppertitle != blank %}
          <div class="uppertitle">{{ section.settings.uppertitle }} {% for i in (1..5) %}{% render 'star_comparison' %}{% endfor %}</div>
        {% endif %}
        <div class="title">
          {%- if section.settings.title != blank -%}
            {{ section.settings.title }}
          {%- endif -%}
        </div>
        <div class="subtitle">
          {%- if section.settings.subtitle != blank -%}
            {{ section.settings.subtitle }}
          {%- endif -%}
        </div>
      </div>
      {%- endif -%}
        {% for block in section.blocks %}
          <div class="story">
               <div class="number">
              {{ block.settings.card_number }}
            </div>
         <img src="{{ block.settings.image |img_url: 'x600' }}"/>
         
         {{block.settings.card_title}}
         {{block.settings.card_text}}
          </div>
       {% endfor %}
     </div>

  </div>
{% schema %}
{
  "name": "Transformation",
  "tag": "section",
  "class": "section transform",
  "settings": [
    {
      "type": "header",
      "content": "General Settings"
    },
      {
      "type": "select",
      "id": "font_variant",
      "label": "Font Family",
      "options": [
       { "value": "default", "label": "Default by theme" },
        { "value": "custom", "label": "Own choice" }
      ],
      "default": "default"
    },
    {
      "type": "font_picker",
      "label": "Regular Font",
      "id": "title_font",
      "default": "montserrat_n4"
    },
   
    { "type": "color", "id": "background_color", "label": "Background color", "default": "transparent" },
    { "type": "color", "id": "text_color", "label": "Text Color", "default": "#000" },
    { "type": "color", "id": "subtitle_color", "label": "Subtitle Color", "default": "#666" },
    { 
      "type": "select", 
      "id": "heading_size", 
      "label": "Heading Size", 
      "options": [{ "value": "small", "label": "Small" }, { "value": "medium", "label": "Medium" }, { "value": "large", "label": "Large" }], 
      "default": "medium" 
    },
    {
      "type": "select", 
      "id": "headline_typography", 
      "label": "Headline Typography", 
      "options": [
        { "value": "uppercase", "label": "AA" }, 
        { "value": "capitalize", "label": "Aa" }, 
        { "value": "lowercase", "label": "aa" }
      ], 
      "default": "uppercase" 
    },
    { 
      "type": "select", 
      "id": "heading_align", 
      "label": "Heading Alignment", 
      "options": [
        { "value": "left", "label": "Left" }, 
        { "value": "center", "label": "Center" }, 
        { "value": "right", "label": "Right" }
      ], 
      "default": "center" 
    },
    { 
      "type": "select", 
      "id": "section_width", 
      "label": "Section Width", 
      "options": [
        { "value": "full", "label": "Full Width" }, 
        { "value": "contained", "label": "Contained" }
      ], 
      "default": "contained" 
    },
    { "type": "range", "id": "padding_x_desk", "label": "Horizontal Padding", "info": "for desktop", "min": 0, "max": 100, "step": 5, "default": 0 },
    { "type": "range", "id": "padding_y_desk", "label": "Vertical Padding", "info": "for desktop", "min": 0, "max": 100, "default": 50 },
    { "type": "range", "id": "padding_x_mob", "label": "Horizontal Padding", "info": "for mobile", "min": 0, "max": 100, "step": 5, "default": 0 },
    { "type": "range", "id": "padding_y_mob", "label": "Vertical Padding", "info": "for mobile", "min": 0, "max": 50, "default": 10 },
    { 
      "type": "select", 
      "id": "display_on", 
      "label": "Display On", 
      "options": [
        { "value": "all", "label": "All Devices" }, 
        { "value": "mobile_only", "label": "Mobile Only" }, 
        { "value": "desktop_only", "label": "Desktop Only" }
      ], 
      "default": "all" 
    },
      { "type": "color", "id": "num_bg", "label": "Numbers Background", "default": "#000" },
    {
      "type": "header",
      "content": "Content Settings"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title",
      "default": "<h2>3 Easy Steps to Transformation Process.</h2>"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
    "type": "header",
      "content": "Product Cards Settings"
    },
    { "type": "select", "id": "container_styling", "label": "Container Styling", "options": [{ "value": "no_card", "label": "No Card" }, { "value": "card", "label": "Card" }, { "value": "shadow", "label": "Shadow" }], "default": "card" },
    {
      "type": "range",
      "id": "box_shadow_offset",
      "label": "Box shadow offset",  
      "min": -10,
      "max": 10,
      "default": 1
    },
    {
      "type": "range",
      "id": "box_shadow_blur",
      "label": "Box shadow blur",  
      "min": 0,
      "max": 15,
      "default": 1
    },
    {
      "type": "range",
      "id": "box_shadow_spread",
      "label": "Box shadow spread",  
      "min": 0,
      "max": 15,
      "default": 1
    },
    { "type": "color", "id": "box_shadow_color", "label": "Box shadow color", "default": "#000000" },

    {
      "type": "range",
      "id": "card_border",
      "label": "Card border",
      "info": "Container Styling Card",
      "min": 0,
      "max": 5,
      "step": 1,
      "default": 1
    },
    { "type": "color", "id": "card_border_color", "label": "Card border color", "default": "#000" },
    { "type": "range", "id": "container_radius", "label": "Container Corner Radius", "min": 0, "max": 50, "step": 5, "default": 10 }
  ],
  "blocks": [
    {
      "type": "card",
      "name": "card",
      "settings": [
        { "type": "image_picker", "id": "image", "label": "Image" },
        { "type": "richtext", "id": "card_title", "label": "Title" },
         { "type": "richtext", "id": "card_text", "label": "Text"},
      { "type": "text", "id": "card_number", "label": "Number"},
        
      ]
    }
  ],
   "max_blocks": 3,  
  "presets": [
   
   {
      "name": "Transformation",
      "category": "Info",
      "blocks": [
        { "type": "card",  
          "settings": 
          {
            "card_title": "<h3>Place your order</h3>",
            "card_text": "<p>Simply add the set to your cart and use our secure checkout</p>",
              "card_number": "1"
          }
        },
        { "type": "card",  
          "settings": 
          {
            "card_title": "<h3>Get Fast Shipping</h3>",
            "card_text": "<p>Simply add the set to your cart and use our secure checkout</p>",
              "card_number": "2"
          } },
        { "type": "card",  
          "settings": 
          {
            "card_title": "<h3>See the Results</h3>",
            "card_text": "<p>Simply add the set to your cart and use our secure checkout</p>",
              "card_number": "3"
          } }]
    }
  ]
}
{% endschema %}