
<style>
{% if section.settings.font_variant == 'custom' %}
  {%- liquid
      assign body_font_bold = section.settings.title_font | font_modify: 'weight', 'bold'
      assign body_font_italic = section.settings.title_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}
  {{ section.settings.title_font | font_face: font_display: 'swap' }}
  {{ body_font_bold | font_face: font_display: 'swap' }}
  {{ body_font_italic | font_face: font_display: 'swap' }}
  {{ body_font_bold_italic | font_face: font_display: 'swap' }}
  {{ settings.type_header_font | font_face: font_display: 'swap' }}
  #shopify-section-{{section.id}} * {
    font-family: {{ section.settings.title_font.family }};
  }
{% endif %}
 
#shopify-section-{{section.id}} .content-wrapper a p {
  margin: 0 auto;
  color: {{ section.settings.text_color }};
  cursor: pointer;
}

/* What device display section */
#shopify-section-{{section.id}} {
  display: {% case section.settings.display_on %}
              {% when 'all' %}block;
              {% when 'mobile_only' %}none;
              {% when 'desktop_only' %}block;
            {% endcase %};
  padding: {{ section.settings.padding_y_desk }}px {{ section.settings.padding_x_desk }}px;
  background-color: {{ section.settings.background_color }};
  text-align: center;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: 36px;
  width: 100%;
  text-decoration: none;
}

@media (max-width: 768px) {
  #shopify-section-{{section.id}} {
    display: {% case section.settings.display_on %}
                {% when 'all' %}block;
                {% when 'mobile_only' %}block;
                {% when 'desktop_only' %}none;
              {% endcase %};
  }
}

#shopify-section-{{section.id}} .content-wrapper {
  height: 100%;
  margin: 0 auto;
  max-width: {% if section.settings.section_width == 'full' %}100%;{% else %}{{ settings.page_width }}px;{% endif %}
  display: block;
  position: relative;
  text-align: center;
}

#shopify-section-{{section.id}} .carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: scroll-{{section.id}} {{ section.settings.scroll_speed }}s linear infinite;
  grid-column-gap: 30px;
  position: relative;
  height: 100%;
  color: {{ section.settings.text_color }};
  width: 500%;
  {% case section.settings.scroll_setting %}
    {% when 'right' %}
      animation-direction: reverse;
    {% when 'static' %}
      animation: unset;
      flex-wrap: wrap;
      gap: 30px;
  {% endcase %}
}

#shopify-section-{{section.id}} .carousel:hover {
  animation-play-state: paused;
}

#shopify-section-{{section.id}} .carousel .carousel-item {
  grid-column-gap: 30px;
  flex: none;
  justify-content: space-around;
  display: flex;
  align-items: center;
  color: {{ section.settings.text_color }};
  height: 100%;
}

{% case section.settings.scroll_setting %}
  {% when 'static' %}
    #shopify-section-{{section.id}} .carousel .carousel-item + .carousel-item {
      display: none;
    }
    #shopify-section-{{section.id}} .carousel .carousel-item {
      grid-column-gap: {{section.settings.gap_icon}}px;
      justify-content: center;
      font-size: 12px;
      line-height: 100%;
      color: {{ section.settings.block_color }};
      height: 100%;
    }
{% endcase %}

@keyframes scroll-{{section.id}} {
  0%   { transform: translateX(0);    }
  100% { transform: translateX(-50%); }
}

@media (max-width: 768px) {
  #shopify-section-{{section.id}} .carousel {
    animation-duration: calc({{ section.settings.scroll_speed }}s * 0.5);
  }
}

@media (max-width: 767px) {
  #shopify-section-{{section.id}} {
    padding: {{ section.settings.padding_y_mob }}px {{ section.settings.padding_x_mob }}px;
  }
}

</style>

<div class="content-wrapper">
     {% case section.settings.scroll_setting %}
      {%- when 'right' or 'left' -%}
     
     
  <div class="carousel-wrapper">
    <div class="carousel">
 
      {% for block in section.blocks %}
        <div class="carousel-item">
           {% if block.settings.icon_google != blank %}
            <span class="material-symbols-outlined">{{ block.settings.icon_google }}</span>
          {% elsif block.settings.icon_img != blank %}
            <img src="{{ block.settings.icon_img | img_url: 'x100' }}" />
          {% endif %}
          {{ block.settings.text }}
        </div>
        {% if  block.settings.text != blank %}
        {% if section.settings.separator != blank or section.settings.separator_img != blank %}
          {% if section.settings.separator_img != blank %}
            <div><img src="{{ section.settings.separator_img | img_url: '22x' }}" alt="separator-icon"></div>
          {% else %}
            <div>{{ section.settings.separator }}</div>
          {% endif %}
        {% endif %}
         {% endif %}  
      {% endfor %}
   
      {% for block in section.blocks %}
        <div class="carousel-item">
          {% if block.settings.icon_google != blank %}
            <span class="material-symbols-outlined">{{ block.settings.icon_google }}</span>
          {% elsif block.settings.icon_img != blank %}
            <img src="{{ block.settings.icon_img | img_url: 'x100' }}" />
          {% endif %}
          {{ block.settings.text }}
        </div>
        {% if section.settings.separator != blank or section.settings.separator_img != blank %}
          {% if section.settings.separator_img != blank %}
            <div><img src="{{ section.settings.separator_img | img_url: '22x' }}" alt="separator-icon"></div>
          {% else %}
            <div>{{ section.settings.separator }}</div>
          {% endif %}
        {% endif %}
      {% endfor %}
            {% for block in section.blocks %}
        <div class="carousel-item">
          {% if block.settings.icon_google != blank %}
            <span class="material-symbols-outlined">{{ block.settings.icon_google }}</span>
          {% elsif block.settings.icon_img != blank %}
            <img src="{{ block.settings.icon_img | img_url: 'x100' }}" />
          {% endif %}
          {{ block.settings.text }}
        </div>
        {% if section.settings.separator != blank or section.settings.separator_img != blank %}
          {% if section.settings.separator_img != blank %}
            <div><img src="{{ section.settings.separator_img | img_url: '22x' }}" alt="separator-icon"></div>
          {% else %}
            <div>{{ section.settings.separator }}</div>
          {% endif %}
        {% endif %}
      {% endfor %}
            {% for block in section.blocks %}
        <div class="carousel-item">
          {% if block.settings.icon_google != blank %}
            <span class="material-symbols-outlined">{{ block.settings.icon_google }}</span>
          {% elsif block.settings.icon_img != blank %}
            <img src="{{ block.settings.icon_img | img_url: 'x100' }}" />
          {% endif %}
          {{ block.settings.text }}
        </div>
        {% if section.settings.separator != blank or section.settings.separator_img != blank %}
          {% if section.settings.separator_img != blank %}
            <div><img src="{{ section.settings.separator_img | img_url: '22x' }}" alt="separator-icon"></div>
          {% else %}
            <div>{{ section.settings.separator }}</div>
          {% endif %}
        {% endif %}
      {% endfor %}
            {% for block in section.blocks %}
        <div class="carousel-item">
          {% if block.settings.icon_google != blank %}
            <span class="material-symbols-outlined">{{ block.settings.icon_google }}</span>
          {% elsif block.settings.icon_img != blank %}
            <img src="{{ block.settings.icon_img | img_url: 'x100' }}" />
          {% endif %}
          {{ block.settings.text }}
        </div>
        {% if section.settings.separator != blank or section.settings.separator_img != blank %}
          {% if section.settings.separator_img != blank %}
            <div><img src="{{ section.settings.separator_img | img_url: '22x' }}" alt="separator-icon"></div>
          {% else %}
            <div>{{ section.settings.separator }}</div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
   {%- when 'static' -%} 
   <a href="">  {{ section.settings.static }}</a>
    {%- endcase -%}
  
</div>

{% schema %}
{
  "name": "Announcement bar",
  "tag": "section",
  "class": "section logo_carousel",
  "settings": [
    {
      "type": "header",
      "content": "General Settings"
    },
    { "type": "color", "id": "background_color", "label": "Background color", "default": "transparent" },
    { "type": "select", "id": "font_variant", "label": "Font Family", "options": [{ "value": "default", "label": "Default by theme" }, { "value": "custom", "label": "Own choice" }], "default": "default" },
    { "type": "font_picker", "label": "Regular Font", "id": "title_font", "default": "montserrat_n4" },
    { "type": "color", "id": "text_color", "label": "Title Color", "default": "#fff" },
     { "type": "select", "id": "section_width", "label": "Section Width", "options": [{ "value": "full", "label": "Full Width" }, { "value": "contained", "label": "Contained" }], "default": "contained" },
    { "type": "range", "id": "padding_x_desk", "label": "Horizontal Padding", "info": "for desktop", "min": 0, "max": 100, "step": 5, "default": 70 },
    { "type": "range", "id": "padding_y_desk", "label": "Vertical Padding", "info": "for desktop", "min": 0, "max": 100, "default": 10 },
    { "type": "range", "id": "padding_x_mob", "label": "Horizontal Padding", "info": "for mobile", "min": 0, "max": 100, "step": 5, "default": 15 },
    { "type": "range", "id": "padding_y_mob", "label": "Vertical Padding", "info": "for mobile", "min": 0, "max": 50, "default": 7 },
    { "type": "select", "id": "display_on", "label": "Display On", "options": [{ "value": "all", "label": "All Devices" }, { "value": "mobile_only", "label": "Mobile Only" }, { "value": "desktop_only", "label": "Desktop Only" }], "default": "all" },
    {
      "type": "header",
      "content": "Carousel Settings"
    },
    { "type": "range", "id": "scroll_speed", "label": "Scroll Speed (seconds)", "min": 25, "max": 100, "step": 1, "default": 45 },
        { "type": "range", "id": "gap_icon", "label": "Gap Icons", "min": 5, "max": 50, "step": 1, "default": 10 },
    { "type": "text", "id": "separator", "label": "Separator", "default": "|" },
    { "type": "image_picker", "id": "separator_img", "label": "Image Separator" },
    { "type": "richtext", "id": "static", "label": "Static text ", "info": "this text only for Static mode", "default": "<p>Some kind of announcement goes here</p>" },
    { "type": "url", "id": "url", "label": "Link For Static text", "default": "/" },
    { "type": "color", "id": "block_color", "label": "Color text", "default": "#fff" },
    { "type": "select", "id": "scroll_setting", "label": "scroll setting", "options": [{ "value": "left", "label": "Left" }, { "value": "right", "label": "Right" }, { "value": "static", "label": "Static" }], "default": "left" },
   ],
  "blocks": [
    {
      "type": "text_block",
      "name": "Text Block",
      "settings": [
        { "type": "image_picker", "id": "icon_img", "label": "Image" },
        { "type": "text", "id": "icon_google", "label": "Google Icon" },
        { "type": "richtext", "id": "text", "label": "Text" }
      ]
    }
  ],
  "presets": [
    {
      "name": "Announcement bar",
      "category": "Custom",
      "blocks": [
        { "type": "text_block", "settings": { "text": "<p>Test 1</p>" } },
        { "type": "text_block", "settings": { "text": "<p>Test 2</p>" } },
        { "type": "text_block", "settings": { "text": "<p>Test 3</p>" } },
        { "type": "text_block", "settings": { "text": "<p>Test 4</p>" } }
      ]
    }
  ]
}
{% endschema %}