

<div class="logo-carousel-section" data-section-id="{{ section.id }}"
     style="
       --font-size-heading: {% case section.settings.heading_size %}{% when 'small' %}36px{% when 'medium' %}45px{% when 'large' %}60px{% endcase %};
       --text-color: {{ section.settings.text_color }};
       --subtitle-color: {{ section.settings.subtitle_color }};
       --text-transform: {{ section.settings.headline_typography }};
       --text-align: {% case section.settings.heading_align %}{% when 'left' %}left{% when 'center' %}center{% when 'right' %}right{% endcase %};
       --gap: {{ section.settings.gap_icon }}px;
       --scroll-speed: {{ section.settings.scroll_speed }}s;
       --bg-color: {{ section.settings.background_color }};
       --padding-desk: {{ section.settings.padding_y_desk }}px {{ section.settings.padding_x_desk }}px;
       --padding-mob: {{ section.settings.padding_y_mob }}px {{ section.settings.padding_x_mob }}px;
       --link-color: {{ section.settings.block_color }};
     ">

  {% if section.settings.title != blank or section.settings.subtitle != blank %}
    <div class="heading">
      <div class="title">
        {% if section.settings.title != blank %}{{ section.settings.title }}{% endif %}
      </div>
      <div class="subtitle">
        {% if section.settings.subtitle != blank %}{{ section.settings.subtitle }}{% endif %}
      </div>
    </div>
  {% endif %}

  <div class="carousel-wrapper">
    <div class="carousel">
      <div class="carousel-item">
        {% for block in section.blocks %}
          {% if block.type == 'text_block' %}
            <a href="{{ block.settings.link }}" target="_blank">{{ block.settings.text }}</a>
          {% else %}
            <a href="{{ block.settings.link }}" target="_blank">
              <img src="{{ block.settings.image | img_url: '180x' }}" alt="logo">
            </a>
          {% endif %}
          {% if section.settings.separator != blank or section.settings.separator_img != blank %}
            {% if section.settings.separator_img != blank %}
              <i><img src="{{ section.settings.separator_img | img_url: '22x' }}" alt="separator-icon"></i>
            {% else %}
              <i>{{ section.settings.separator }}</i>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="carousel-item" aria-hidden="true">
        {% for block in section.blocks %}
          {% if block.type == 'text_block' %}
            <a href="{{ block.settings.link }}" target="_blank">{{ block.settings.text }}</a>
          {% else %}
            <a href="{{ block.settings.link }}" target="_blank">
              <img src="{{ block.settings.image | img_url: '180x' }}" alt="logo">
            </a>
          {% endif %}
          {% if section.settings.separator != blank or section.settings.separator_img != blank %}
            {% if section.settings.separator_img != blank %}
              <i><img src="{{ section.settings.separator_img | img_url: '22x' }}" alt="separator-icon"></i>
            {% else %}
              <i>{{ section.settings.separator }}</i>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Horizontal ticker",
  "tag": "section",
  "class": "section logo_carousel",
  "settings": [
    { "type": "header", "content": "Header Content" },
    { "type": "richtext", "id": "title", "label": "Title", "default": "<h2>lorem ipsum dolor</h2>" },
    { "type": "richtext", "id": "subtitle", "label": "Subtitle", "default": "<h3>Lorem ipsum dolor sit amet consecteur adipiscing</h3>" },
    { "type": "header", "content": "General Settings" },
    { "type": "color", "id": "background_color", "label": "Background color", "default": "transparent" },
    { "type": "select", "id": "heading_size", "label": "Heading Size", "options": [
      { "value": "small", "label": "Small" },
      { "value": "medium", "label": "Medium" },
      { "value": "large", "label": "Large" }
    ], "default": "medium" },
    { "type": "select", "id": "headline_typography", "label": "Headline Typography", "options": [
      { "value": "uppercase", "label": "AA" },
      { "value": "capitalize", "label": "Aa" },
      { "value": "lowercase", "label": "aa" }
    ], "default": "capitalize" },
    { "type": "color", "id": "text_color", "label": "Title Color", "default": "#000000" },
    { "type": "color", "id": "subtitle_color", "label": "Subtitle Color", "default": "#666666" },
    { "type": "select", "id": "heading_align", "label": "Heading Alignment", "options": [
      { "value": "left", "label": "Left" },
      { "value": "center", "label": "Center" },
      { "value": "right", "label": "Right" }
    ], "default": "center" },
    { "type": "select", "id": "section_width", "label": "Section Width", "options": [
      { "value": "full", "label": "Full Width" },
      { "value": "contained", "label": "Contained" }
    ], "default": "contained" },
    { "type": "range", "id": "padding_x_desk", "label": "Horizontal Padding (desktop)", "min": 0, "max": 100, "step": 5, "default": 20 },
    { "type": "range", "id": "padding_y_desk", "label": "Vertical Padding (desktop)", "min": 0, "max": 100, "default": 20 },
    { "type": "range", "id": "padding_x_mob", "label": "Horizontal Padding (mobile)", "min": 0, "max": 100, "step": 5, "default": 20 },
    { "type": "range", "id": "padding_y_mob", "label": "Vertical Padding (mobile)", "min": 0, "max": 100, "default": 20 },
    { "type": "color", "id": "block_color", "label": "Color text", "default": "#000" },
    { "type": "range", "id": "scroll_speed", "label": "Scroll Speed (seconds)", "min": 5, "max": 30, "step": 1, "default": 15 },
    { "type": "text", "id": "separator", "label": "Separator", "default": "🍃" },
    { "type": "image_picker", "id": "separator_img", "label": "Img separator" },
    { "type": "range", "id": "gap_icon", "label": "Gap", "min": 0, "max": 100, "default": 30 }
  ],
  "blocks": [
    {
      "type": "logo_block",
      "name": "Logo Block",
      "settings": [
        { "type": "image_picker", "id": "image", "label": "Logo Image" },
        { "type": "url", "id": "link", "label": "Link" }
      ]
    },
    {
      "type": "text_block",
      "name": "Text Block",
      "settings": [
        { "type": "textarea", "id": "text", "label": "Text" },
        { "type": "url", "id": "link", "label": "Link" }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo Carousel",
      "category": "Custom",
      "blocks": [
        { "type": "logo_block" },
        { "type": "logo_block" },
        { "type": "logo_block" }
      ]
    }
  ]
}
{% endschema %}
