<div class="content-section produÑt-options-section" data-section-type="content">
  <style>
    add-card-prod .submit_add_cart{
      border-radius: {{ section.settings.button_radius }}px;
      color: {% if section.settings.button_text_color != 'transparent' %}{{section.settings.button_text_color}}{% else %}var(--color-text-btn){% endif %};
      background: {% if section.settings.button_color != 'transparent' %}{{section.settings.button_color}}{% else %}var(--color-bg-btn){% endif %};
      border: none;
    }
    add-card-prod .submit_add_cart svg path{
      stroke: {% if section.settings.button_text_color != 'transparent' %}{{section.settings.button_text_color}}{% else %}var(--color-text-btn){% endif %};
    }
    .cart-quantity {
      {% if section.settings.qty_align =='right' %}
    
        order: 2;
      {% else %}
        order:0;      
        {% endif %}
    }

  </style>
  <add-card-prod>
    {%- form 'product',
        product,
        id: product_form_id,
        class: 'form form_add_cartp',
        novalidate: 'novalidate',
        data-type: 'add-to-cart-form'
      -%}

    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" {% if product.selected_or_first_available_variant.available == false
            or quantity_rule_soldout
            or product.selected_or_first_available_variant == null
          %} disabled {% endif %} class="product-variant-id" id="product-variant-id">

    <quantity-inputs class="cart-quantity">
        <button class="btn__button" name="minus" type="button">
            {{ 'icon-minus.svg' | inline_asset_content }}
        </button>
        <input class="" type="number" name="quantity" step="1" value="1" aria-label="{{ 'products.product.quantity.input_label' | t: product: product.selected_or_first_available_variant.title | escape }}">
        <button class="btn__button" name="plus" type="button">
            {{ 'icon-plus.svg' | inline_asset_content }}
        </button>
    </quantity-inputs>

    {%- liquid
            assign check_against_inventory = true
            if product.selected_or_first_available_variant.inventory_management != 'shopify' or product.selected_or_first_available_variant.inventory_policy == 'continue'
              assign check_against_inventory = false
            endif
            if product.selected_or_first_available_variant.quantity_rule.min > product.selected_or_first_available_variant.inventory_quantity and check_against_inventory
              assign quantity_rule_soldout = true
            endif
          -%}
    <button type="submit" name="add" class="submit_add_cart" {% if product.selected_or_first_available_variant.available == false
              or quantity_rule_soldout
              or product.selected_or_first_available_variant == null
            %} disabled {% endif %}>

        {%- if product.selected_or_first_available_variant == null -%}
        {{ 'products.product.unavailable' | t }}
        {%- elsif product.selected_or_first_available_variant.available == false or quantity_rule_soldout -%}
        {{ 'products.product.sold_out' | t }}
        {%- else -%}
        {{ 'products.product.add_to_cart' | t }}
        {%- endif -%}

        {% if section.settings.icon != blank  %}
          <i class="icon_cart-btns"><img src="{{ section.settings.icon | img_url: '150x' }}" alt="Icon add cart button"></i>
        {% elsif section.settings.icon_alt != blank %}
          <i class="icon_cart-btns material-symbols-outlined">{{ section.settings.icon_alt }}</i>
        {% else %}
          <i class="icon_cart-btns">{% render 'icon-cart-svg' %}</i> 
        {% endif %}
       


    </button>
    {%- if show_dynamic_checkout -%}
    {{ form | payment_button }}
    {%- endif -%}

    {%- endform -%}

    <div class="payment-methods">
        <div class="payment-secure">
            {% render 'icon-secure-prod' %}
            <div class="payment-secure-text">
                <p><strong>100% Secure Checkout</strong></p>
                <p>Guaranteed Secure</p>
            </div>
        </div>
        {% if section.settings.show_payment_icons %}
          <ul class="payment-icons-list">
            {% for i in (1..7) %}
              {% assign icon_key = "payment_icon_" | append: i %}
              {% assign icon = settings[icon_key] %}
              {% if icon != blank %}
                  <li><img src="{{ icon | img_url: 'master' }}" class="icon icon--full-color" alt="" /></li>
            {% endif %}
            {% endfor %}    
          </ul>
        {% endif %}
    </div>
  </add-card-prod>
</div>
{% schema %}
{
  "name": "Product Add to Cart",
  "limit": 1,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show payment icons",
      "default": true
    },
    {
       "type": "select",
         "id": "qty_align",
            "label": "Quantity Selector Alignment",
      "options":[ {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }],
   

      "default": "left"
    },
    {
      "type": "header",
      "content": "Button Settings"
    },
    { "type": "range", "id": "button_radius", "label": "Button Corner Radius", "min": 0, "max": 50, "step": 5, "default": 10 },
    { "type": "color", "id": "button_color", "label": "Button background", "default": "transparent" },
    { "type": "color", "id": "button_text_color", "label": "Button Text Color", "default": "transparent" },
    {
      "type": "header",
      "content": "Icons Add Button"
    },
    {
      "type": "image_picker",
      "id": "icon",
      "label": "Icon"
    },
    {
      "type": "text",
      "id": "icon_alt",
      "label": "Google Icon or Class (Icon)",
      "default": "shopping_bag"
    },
    ],
   
    "presets": [
      {
        "name": "Product Add to Cart",
        "category": "Product Sections",
        "settings": {

        },
      }
    ], "enabled_on": {
      "templates": ["product"],
    },
}
{% endschema %}
