
<style>
  {% if section.settings.font_variant == 'custom' %}
    {%- liquid
        assign body_font_bold = section.settings.title_font | font_modify: 'weight', 'bold'
        assign body_font_italic = section.settings.title_font | font_modify: 'style', 'italic'
        assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
      %}
    {{ section.settings.title_font | font_face: font_display: 'swap' }}
    {{ body_font_bold | font_face: font_display: 'swap' }}
    {{ body_font_italic | font_face: font_display: 'swap' }}
    {{ body_font_bold_italic | font_face: font_display: 'swap' }}
    {{ settings.type_header_font | font_face: font_display: 'swap' }}
    #shopify-section-{{section.id}} * {
      font-family: {{ section.settings.title_font.family }};
    }
  {% endif %}
  #shopify-section-{{section.id}} {
    margin: auto;
    padding: {{ section.settings.padding_tb_desk }}px {{ section.settings.padding_lr_desk }}px;
    background-color: {{ section.settings.background_color }};
    color: {{ section.settings.text_color }};
    text-align: center;
    overflow: hidden;
  }
    #shopify-section-{{ section.id }} .content-wrapper{
    max-width:
      {% if section.settings.section_width == 'full' %}
        100%;
      {% else %}
        {{ settings.page_width }}px;
          margin: 0 auto;
      {% endif %};
  }
  #shopify-section-{{section.id}} *{
    box-sizing: border-box;
  }
  
  /* Inner wrapper max-width */
  #shopify-section-{{ section.id }} .content-wrapper{
    max-width:
      {% if section.settings.section_width == 'full' %}
        100%;
      {% else %}
        {{ settings.page_width }}px;
          margin: 0 auto;
      {% endif %};
  }
  #shopify-section-{{section.id}} .blog-header-w *{
    margin: 0;
  } 
  .blog-header-w .title * {
    font-size: {% case section.settings.title_size %}
                 {% when 'small' %}36px
                 {% when 'medium' %}45px
                 {% when 'large' %}60px
               {% endcase %};
    font-weight: 700;
    text-transform: {{ section.settings.title_format }};
    margin: 0;
    color: {{ section.settings.title_color }};
  }
  #shopify-section-{{section.id}} .blog-card{
    border-radius: {{ section.settings.container_radius }}px;
    box-shadow: {% if section.settings.container_styling == "shadow" %}{{ section.settings.box_shadow_offset }}px {{ section.settings.box_shadow_offset }}px {{ section.settings.box_shadow_blur }}px {{ section.settings.box_shadow_spread }}px {{ section.settings.box_shadow_color }}{% else %}none{% endif %};
    background-color: {{ section.settings.card_background }};
    border: {% if section.settings.container_styling == "card" %} {{ section.settings.card_border }}px solid {{ section.settings.card_border_color }}{% else %}none{% endif %};
  }
  #shopify-section-{{section.id}} .blog-info{
    padding: {{ section.settings.card_padding }}px;
    width: 100%;
  }
  #shopify-section-{{section.id}} .subtitle * {
    font-size: 20px;
    font-weight: 500;
    color: {{ section.settings.subtitle_color }};
     font-family: {{ section.settings.title_font.family }};
    margin: 0;
  }
  .blog-card .blog-card-date, .blog-card .blog-card-excerpt{
    color: {{ section.settings.text_color_blog }};
  }
  .blog-card .blog-card-title{
    color: {{ section.settings.text_color_title }};
    {% if section.settings.card_title_line == true %}
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
    min-height: 56px;
    {% else %}
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    {% endif %}
  }
  .blog-card .read-more{
    color: {{ section.settings.text_color_url }};
  }
  #shopify-section-{{section.id}} .blog-card[onclick]{
    cursor: pointer;
  }
 
@media (max-width: 768px) {
    .blog-header-w * {
      font-size: {% case section.settings.title_size %}
                 {% when 'small' %}20px
                 {% when 'medium' %}28px
                 {% when 'large' %}36px
               {% endcase %};
      line-height: 100%;
       #shopify-section-{{section.id}} .subtitle * {
    font-size: 16px;
    
  }
    }
  #shopify-section-{{section.id}} {
    padding: {{ section.settings.padding_tb_mob }}px {{ section.settings.padding_lr_mob }}px;
  }
}
</style>
<div class="content-wrapper">
<div class="blog-posts-w">
  {%- if section.settings.heading != blank or section.settings.subtitle != blank -%}
  <div class="blog-header-w">
    <div class="title">
    {%- if section.settings.heading != blank -%}
     {{ section.settings.heading }}
    {%- endif -%}
    </div>
    <div class="subtitle">
      {%- if section.settings.subtitle != blank -%}
      {{ section.settings.subtitle }}
      {%- endif -%}
    </div>
  </div>
  {%- endif -%}
  
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        {% assign article = articles[block.settings.selected_post] %}
        {% if article != blank %}
          <div class="swiper-slide ">
            <div class="blog-card" {% if section.settings.card_clickable == true %} onclick="location.href='{{ article.url }}'"{% endif %}>
              <div class="blog-card-img">
                {% if article.image != blank %}
                  <img src="{{ article.image | img_url: '600x' }}" alt="{{ article.title }}">
                {% else %}
                  <img src="/cdn/shopifycloud/shopify/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_x600.gif">
                {% endif %}
              </div>
              <div class="blog-info">
              <p class="blog-card-date">{{ article.published_at | date: "%d %B, %Y" }}</p>
              <p class="blog-card-title">{{ article.title }}</p>
              {% if section.settings.card_description == true %}
              <p class="blog-card-excerpt">{{ article.excerpt | strip_html | truncatewords: 20 }}</p>
              {% endif %}
              <a href="{{ article.url }}" class="read-more">Read more {% render 'icon-arrow-learnmore' %}</a>
              </div>
            </div>
          </div>
          {% else %}
           <div class="swiper-slide ">
            <div class="blog-card" {% if section.settings.card_clickable == true %} onclick="location.href='{{ article.url }}'"{% endif %}>
              <div class="blog-card-img">
                {% if article.image != blank %}
                  <img src="{{ article.image | img_url: '600x' }}" alt="{{ article.title }}">
                {% else %}
                  <img src="/cdn/shopifycloud/shopify/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_x600.gif">
                {% endif %}
              </div>
              <div class="blog-info">
              <p class="blog-card-date">03/03/2022</p>
              <p class="blog-card-title">Title</p>
              {% if section.settings.card_description == true %}
              <p class="blog-card-excerpt">{{ 'Lore Ipsum Content' | strip_html | truncatewords: 20 }}</p>
              {% endif %}
              <a href="{{ article.url }}" class="read-more">Read more {% render 'icon-arrow-learnmore' %}</a>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="swiper-pagination-w">
      <div class="swiper-b-prev">{% render 'swiper-arrow-left-n' %}</div>
      <div class="swiper-pagination"></div>
      <div class="swiper-b-next">{% render 'swiper-arrow-right-n' %}</div>
    </div>
  </div>
</div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    new Swiper("#shopify-section-{{section.id}} .swiper-container", {
      loop: true,
      navigation: {
        nextEl: "#shopify-section-{{section.id}} .swiper-b-next",
        prevEl: "#shopify-section-{{section.id}} .swiper-b-prev",
      },
      pagination: {
        el: "#shopify-section-{{section.id}} .swiper-pagination",
        clickable: true,
        dynamicBullets: true,

      },
      slidesPerView: 1,
      spaceBetween: 30,
      breakpoints: {
        480: {
          slidesPerView: 1,
        },
        768: {
          slidesPerView: 2,
        },
        1024: {
          slidesPerView: 3,
        }
      },
      grabCursor: true,
     
      autoplay: false
    });
  });
</script>

{% schema %}
{
  "name": "Blog Posts",
  "class": "blog-posts-section",
  "settings": [
    {
      "type": "header",
      "content": "Header Content"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Title",
      "default": "<h2>recent blog posts</h2>"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "<h3>Nunc lacinia aliquet elit vestibulum dui pellentesque</h3>"
    },
    {
      "type": "header",
      "content": "General settings"
    },
     {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "transparent"
    },
    {
      "type": "select",
      "id": "title_size",
      "label": "Heading Size",
      "options": [
        { "value": "small", "label": "Small" },
        { "value": "medium", "label": "Medium" },
        { "value": "large", "label": "Large" }
      ],
      "default": "medium"
    },


    
    {
      "type": "select",
      "id": "title_format",
      "label": "Headline Typography",
      "options": [
        { "value": "uppercase", "label": "AA" },
        { "value": "capitalize", "label": "Aa" },
        { "value": "lowercase", "label": "aa" }
      ],
      "default": "uppercase"
    },
  
  
    {
      "type": "select",
      "id": "font_variant",
      "label": "Font family",
      "options": [
        { "value": "default", "label": "default theme" },
        { "value": "custom", "label": "custom" }
      ],
      "default": "default"
    },
    {
      "type": "font_picker",
      "label": "Title font regular",
      "id": "title_font",
      "default": "montserrat_n4"
    },
      {
      "type": "color",
      "id": "title_color",
      "label": "Title color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "subtitle_color",
      "label": "Subtitle color",
      "default": "#696969"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "Section Width",
      "options": [
        { "value": "full", "label": "Full Width" },
        { "value": "contained", "label": "Contained" }
      ],
      "default": "contained"
    },
    {
      "type": "range",
      "id": "padding_lr_desk",
      "label": "Horizontal Padding",
      "info": "for desktop",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 20
    },
       {
      "type": "range",
      "id": "padding_tb_desk",
      "label": "Vertical Padding",
      "info": "for desktop",   
      "min": 0,
      "max": 100,
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_lr_mob",
      "label": "Horizontal Padding",
      "info": "for mobile",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 20
    },
       {
      "type": "range",
      "id": "padding_tb_mob",
      "label": "Vertical Padding",
      "info": "for mobile",   
      "min": 0,
      "max": 100,
      "default": 20
    },
    {
      "type": "select",
      "id": "display_on",
      "label": "Display On",
      "options": [
        { "value": "all", "label": "All Devices" },
        { "value": "mobile_only", "label": "Mobile Only" },
        { "value": "desktop_only", "label": "Desktop Only" }
      ],
      "default": "all"
    },
    {
      "type": "header",
      "content": "Blog Cards Settings"
    },
      {
      "type": "color",
      "id": "text_color_title",
      "label": "Title Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "text_color_blog",
      "label": "Text Color",
      "default": "#4B4B4B"
    },
  
    {
      "type": "color",
      "id": "text_color_url",
      "label": "Read More Color",
      "default": "#000000"
    },
    { "type": "checkbox", "id": "card_title_line", "label": "Card title two line", "default": true },
    { "type": "checkbox", "id": "card_description", "label": "Card description", "default": true },
    { "type": "checkbox", "id": "card_clickable", "label": "Card clickable", "default": true },
    { "type": "select", "id": "container_styling", "label": "Container Styling", "options": [{ "value": "no_card", "label": "No Card" }, { "value": "card", "label": "Card" }, { "value": "shadow", "label": "Shadow" }], "default": "card" },
    {
      "type": "range",
      "id": "box_shadow_offset",
      "label": "Box shadow offset",  
      "min": -10,
      "max": 10,
      "default": 1
    },
    {
      "type": "range",
      "id": "box_shadow_blur",
      "label": "Box shadow blur",  
      "min": 0,
      "max": 15,
      "default": 1
    },
    {
      "type": "range",
      "id": "box_shadow_spread",
      "label": "Box shadow spread",  
      "min": 0,
      "max": 15,
      "default": 1
    },
    { "type": "color", "id": "box_shadow_color", "label": "Box shadow color", "default": "#000000" },
    { "type": "color", "id": "card_background", "label": "Card background", "default": "transparent" },
    {
      "type": "range",
      "id": "card_padding",
      "label": "Padding card info",
      "min": 0,
      "max": 25,
      "step": 1,
      "default": 10
    },
    {
      "type": "range",
      "id": "card_border",
      "label": "Card border",
      "info": "Container Styling Card",
      "min": 0,
      "max": 5,
      "step": 1,
      "default": 0
    },
    { "type": "color", "id": "card_border_color", "label": "Card border color", "default": "#000" },
    { "type": "range", "id": "container_radius", "label": "Container Corner Radius", "min": 0, "max": 50, "step": 5, "default": 10 },
  ],
  "blocks": [
    {
      "type": "blog_post",
      "name": "Blog Post",
      "settings": [
        {
          "type": "article",
          "id": "selected_post",
          "label": "Select Blog Post",
          "info": "Choose a blog post from existing articles."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Blog Posts",
      "category": "Blog",
        "blocks": [
        { "type": "blog_post" },
        { "type": "blog_post" },
        { "type": "blog_post" },
        { "type": "blog_post" }
      ]
    }
  ]
}
{% endschema %}